.courses-table

    & table tr:first-child th
        border-width 1px
        border-color #e4e0d2

    & table&__table,
    & th&__main
        margin 0
        width 100%

    .main & tr&__line:nth-child(even)
        background none

    & tr&__line,
    & tr &__info,
    & tr &__verify
        border-bottom 1px solid #e4e0d2

    .main & tr&__line:last-child,
    .main & tr&__line:last-child &__info,
    .main & tr&__line:last-child &__verify
        border none

    .main & th&__main,
    .main & td&__info,
    .main & td&__verify
        padding 25px 0

        vertical-align top

    & th&__main
        font-size 11px
        font-weight normal

        width 40%

    .main & th&__main
        padding-left 20px
        padding-right 10px

    &__start,
    &__schedule
        font-size 14px
        line-height initial

    &__schedule
        margin-top 5px

    & td&__info
        vertical-align middle

    .main & td&__info
        padding-left 10px
        padding-right 15px

    .main ul&__info-links,
    .main li&__info-links-item
        margin 0
        padding 0

    .main li&__info-links-item:before
        display none
        content ''

    .main li&__info-links-item
        font-size 14px

    &__info-link
        line-height initial
        color #568DCA

    .main & td&__verify
        width 0.1%
        padding-right 60px

        text-align left
        white-space nowrap

    & h3&__title
        font 17px/17px secondary_font
        margin 5px 0 10px 0

    &__status
        font-weight bold

        position relative
        display inline-block

        line-height 25px

        padding-left 26px

        white-space nowrap

        color #469269

    &__status_ended
        color light_gray_color

    &__status:before
        font-size 18px

        position absolute
        margin-left -26px

        font-weight normal

    &__status_verified:before
        @extend $font-ok

    &__status_started:before
        @extend $font-back-in-time

    &__status_ended:before
        @extend $font-flag

    .main &__verify li&__info-links-item
        font-size 13px

        margin-left 26px

        color #568DCA
