.courses-masters

    .main ul&__masters
        margin 40px auto 0 auto
        max-width: 600px

    .main li&__master
        margin 0 25px
        padding 0

    .main li&__master:before
        content ''
        display none

    &__master
      display inline-block

      width 145px

    @media tablet
      .main li&__master
        margin 25px 0

      &__master
        display block
        width auto

        text-align center
