.courses-master
    display inline-block
    margin-bottom 20px
    vertical-align top

    & .teacher-picture
        display inline-block
        width auto

    & .teacher-picture__img
        display block

    &__name
        color light_link_color

    & .teacher-picture__text
        display inline-block

        font-size 16px
        padding-top 10px

    &__name:hover &__name-text
        text-decoration underline

    @media tablet
        &
          width 145px

