extends /layouts/main

block append variables
  - var headTitle = 'Доступ запрещён';
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type Доступ запрещён
    +e.code 403
    +e.text
      if error.info
        != error.info
      else if user
        | Возможно, вы не под тем пользователем?
      else
        | Возможно, вам нужно войти на сайт?
