extends /layouts/main

block append variables
  - var headTitle = 'Страница не найдена';
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type Страница не найдена
    +e.code 404
    +e.text
      if error.info
        p= error.info
      else
        p Возможно, это произошло из-за большого обновления сайта, многие материалы были обновлены и реорганизованы.

    p Для того, чтобы найти нужную вам страницу, вы можете воспользоваться поиском:

    +e.text
      +e('form').search(action="/search")
        +e.search-query-wrap
          +b('span').text-input.__search-query
            +e('input').control(type="text", name="query")
        +e.search-submit-wrap
          +b('button').button._action.__search-submit
            +e('span').text Найти
    +e.text
      | …или верхней навигацией.
