extends /layouts/main

block append variables
  - var headTitle = 'Ошибка на сервере';
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type Ошибка на сервере
    +e.code 500

    if error.info
      +e.text
        p= error.info

    - var subject = encodeURIComponent("Ошибка 500 на " + url.href)
    +e.text Мы анализируем и исправляем возникающие ошибки, но вы можете ускорить этот процесс, сообщив подробности на <a href="mailto:mk@javascript.ru?subject=#{subject}">mk@javascript.ru</a>.
    +e.text
      +e('span').request RequestId: #{requestId}
