
.auth-modal
    fixed top 50% left 50%
    width 400px
    height 300px
    margin-left -(@width / 2)
    margin-top -(@height / 2)
    background white
    border 1px solid black
    z-index 10000

    .progress
        margin: 100px auto 0 auto


