.contact-form
    margin 0 auto
    width 708px
    margin-top 37px

    &__content
        display table

    &__fields,
    &__note
        display table-cell
        text-align left
        vertical-align top


    &__fields
        padding-right 58px


    &__name
        margin -8px 0 17px


    &__name,
    &__name-input
        width 320px


    &__name-input,
    &__full-phone
        margin-top 7px


    &__note
        background #fcf8f2
        border-left 3px solid #f2ae43
        padding 10px 19px
        font-size 13px
        line-height 1.2
        color: #333;


    &__note-title
        font 18px secondary_font
        color #f4af35


    &__note p
        margin 4px 0


    &__submit
        margin 42px 0 30px
