.courses-feedback-inline
  &__title
    text-align center

  &__slider
    position relative
    text-align center

  &__slides-wrapper
    overflow hidden
    margin 0 auto
    width 85%

    @media tablet_medium
      width 100%

  ul&__pagination
    padding 0
    margin 20px auto 0

  ul > li&__page
    display inline-block
    vertical-align top
    margin-right 8px
    background-color #ececec
    border-radius 50%
    width 12px
    height 12px
    cursor pointer

    &:last-child
      margin-right 0

    &:before
      display none

    &:hover
    &_active
      background-color light_gray_color
