.task
    &__header
        margin 16px 0 16px

    &__title-wrap
        padding-right 45px

    & &__title
        margin 0
        line-height 28px
        display inline
        font-size 20px
        font-weight bold

    & &__title a
        font inherit
        color inherit
        text-decoration none

    &__header-note
        margin-top 6px

    & &__open-link
        @extend $plain-link
        text-decoration none
        margin-left 20px
        outline 0
        position absolute
        line-height 18px

    &__open-link::before
        @extend $font-external
        font-size 16px
        display inline-block
        min-width 16px

    &__importance
        color light_gray_color
        margin-right 30px

    &__solution
        @extend $button-reset
        display inline-block
        margin 18px 0
        padding 4px 12px
        border-radius 15px
        border 2px solid #568DCA
        font inherit
        line-height 18px
        color #568DCA
        text-decoration none

        &:hover
            color link_hover_color
            border-color link_hover_color
            text-decoration none

        &[disabled]
        &[disabled]:hover
            cursor default
            opacity 0.5
            color #568DCA
            border-color #568DCA
            text-decoration none

    &__content,
    &__content p,
    &__content ul,
    &__content ol,
    &__content figure,
    &__content .code-example,
    &__content .codebox,
    &__content .code-tabs
        margin 18px 0

    &__content
        line-height 140%
        margin-bottom 21px

    &__answer
        border 3px solid #F7F6EA
        margin: 20px 0 14px
        position relative
        display none

    &__answer-content
        margin 25px 30px

    &__answer-close,
    &__answer-close:active
        position absolute
        top -17px
        right -17px

        @media phone
            right -13px

    &_answer_open &__answer
        display block

    &__step-show
        @extend $button-reset
        background #F7F6EA
        display block
        width 100%
        height 55px
        text-align left
        padding 0 30px
        font 700 114% font
        color inherit
        position relative

    &__step-show::before
        content ""
        position absolute
        top 0
        left -3px
        right -3px
        border-top 1px solid #edece2

    &__step:first-child &__step-show::before,
    &_step_open + &__step &__step-show::before
        display none

    &__step &__answer-content
        display none

    &_step_open &__answer-content
        display block

    &_step_open &__step-show
        display none

    & &__step-title
        margin 25px 0 14px
