
@require "~styles/blocks/variables/variables"


@require "quiz-selector"
@require "quiz-start"
@require "quiz-explanations"
@require "quiz"
@require "quiz-question"
@require "quiz-timeline"
@require "quiz-result"
@require "quiz-results-indicator"
@require "quiz-percents"
@require "quiz-weak-list"
@require "quiz-results-table"
@require "quiz-tablet-timeline"
