.donate-button
  background linear-gradient(to bottom, #eee, #ccc)
  display inline-block
  color #333939
  border 1px solid #CFCECD
  margin 10px 0
  font 700 size font
  line-height 30px
  padding 0 16px 0 8px
  height 32px
  border-radius 4px

  &:focus
      outline 0

  &:hover
      background linear-gradient(to bottom, #ddd, #bbb)
      border-color #bebdbc

  &::before
    color rgba(#B80000, .5)
    display inline-block
    vertical-align bottom
    min-height 20px
    min-width 20px
    margin-right 10px
    @extend $font-heart-plus
    font-size 16px
