.main table
    width 100%
    border-collapse collapse
    font-size 13px
    margin 30px 0

    tbody
        border 0

    tr
        border-bottom 1px solid #ccc

    th
        text-align left

    th,
    td,
    caption
        padding 2px 1em 2px 5px

    tr:nth-child(even)
        background #f9f9f9

    code
        font-weight inherit

    tr:first-child th
        border-bottom 3px solid #CCC
        vertical-align bottom

    caption
        text-align left


@media (min-width: largescreen)
    .main table
        font-size: 15px;
