.course-register-payment
    &__body
        margin 30px

    & .pay-method__methods
        margin-bottom 0

    &__next
        margin-top 15px

    &__next-or
        margin-bottom 15px

    @media tablet
        &__body
            margin 30px 0 0 0
