.payment-setting
    display none

    padding 10px 50px 35px

    background #f9edbf

    &__item
        margin-top 25px

    &__item:first-child
        margin-top 0

    &__item_with_cb
        font-size 13px
        line-height 14px

    &__cb-label
        display inline-block

        padding-left 20px

    &__item_with_cb &__cb
        position absolute

        margin-top 1px

    &__item_hidden
        display none

    &__cb_invoice-need:checked ~ &__item_hidden
        display block

    &__textarea-head,
    &__textarea-bank
        height 115px

    &__textarea-addr
        height 75px

    &__label
        font-size 14px
        line-height 16px

        display block

        margin-bottom 7px

    &__small-note
        font-size 11px
        line-height 16px
        font-style italic

        color #858585

    &__item_currency &__label
        display block

    &__item_currency .input-select
        min-width 6em

    &__item_currency &__small-note
        position relative
        top 5px

        display inline-block

        margin-left 20px

    & .text-input
        width 100%

    & .textarea-input
        font-size 13px

        width 100%