.course-bricks
    & &__title
        font 200% font
        font-weight bold
        text-align center
        margin 39px 0 4px

    &__brick-title .main__anchor::before
        z-index 1
        transform translateZ(0)

        width 22px
        line-height 25px

    & &__title ~ p
        color light_gray_color
        text-align center
        margin-top 0
        margin-bottom 36px

    &__container
        font-size 14px

        margin 0 -30px

        columns 200px 3

    &__brick
        margin 0 30px
        padding-bottom 20px

        page-break-inside avoid // Fx uses this for columns too
        break-inside avoid

    .main ul&__chapters-list
        margin 0

    &__chapters-list &__item
        margin .3em 0
        line-height 18px


    &__col:first-child &__brick
        margin 0 18px 0 0

    &__col:last-child &__brick
        margin 0 0 0 18px

    .main & &__brick-title
        font 18px font
        font-weight bold
        margin 0 0 10px 0 !important

    & &__brick-title-link:hover
        color hoverize(color)

    &__brick-content
        margin 12px 0

        p
            margin 12px 0
