.flex-column
  display flex
  flex-direction column
/*
  &_width-limit-wide
    max-width 940px
    margin 0 auto

  &_course-detail
    position relative
    max-width 940px
    margin 0 auto
    box-sizing border-box
    padding-top 24px
    padding-right 323px

    @media screen and (max-width 767px)
      padding-right 0
      padding-top 0
*/