*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.vscode
.idea
.cache
.project
.settings
.tmproj
.nvmrc
sftp-config.json
Thumbs.db

# database dump for tutorial export
/dump
/repo

# NPM packages folder.
node_modules/

# TMP folder (run-time tmp)
/tmp

# Manifest (build-generated content, versions)
/cache

# contains v8 executable for linux-tick-processor (run from project root)
out/*

# Generated content
public/*
package-lock.json

/modules/engine
.gitmodules
