.quiz-weak-list

    margin-top 10px

    &__title
        font-size 14px
        font-weight normal

    &__list
        display inline-block

        margin-top 15px !important

        text-align left
        list-style disc outside !important
