.course-register-info
    display inline-block

    width 65%
    margin 25px 0 0 10px
    padding 15px 25px

    text-align left

    background background_blocks

    & &__group
        font bold 16px/18px secondary_font

        margin 0

        color secondary_color

    & &__info
        font normal 13px/16px font

        margin 0

    & &__info_length
        margin-top 5px

    &__time
        font-weight bold
