// изначально на элементе body установлен класс .no-icons
// при этом все элементы, содержащие иконки из иконочного шрифта,
// скрыты. После окончательной загрузки шрифта класс снимается.
// Необходимо, чтобы избежать показа нечитаемых
// символов из незагруженного шрифта

$font-icon
    &
        font-family 'FontIcons'
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

    .no-icons &
        visibility hidden

$font-close
    @extend $font-icon
    content '\25b4'

$font-close-cross
    @extend $font-icon
    content '\e80d'

$font-open
    @extend $font-icon
    content '\25be'

$font-star
    @extend $font-icon
    content '\2605'

$font-star-empty
    @extend $font-icon
    content '\2606'

$font-warning
    @extend $font-icon
    content '\26a0'

$font-mail
    @extend $font-icon
    content '\e810'

$font-mail-inverse
    @extend $font-icon
    content '\e835'

$font-edit
    @extend $font-icon
    content '\270d'

$font-ok
    @extend $font-icon
    content '\2714'

$font-question
    @extend $font-icon
    content '\e81e'

$font-qa
    @extend $font-icon
    content '\2753'

$font-pros
    @extend $font-icon
    content '\e059'

$font-cons
    @extend $font-icon
    content '\e075'

$font-help
    @extend $font-icon
    content '\e81e'

$font-info
    @extend $font-icon
    content '\e705'

$font-code
    @extend $font-icon
    content '\e714'

$font-external
    @extend $font-icon
    content '\e715'

$font-download
    @extend $font-icon
    content '\e805'

$font-print
    @extend $font-icon
    content '\e716'

$font-chat
    @extend $font-icon
    content '\e720'

$font-angle-left
    @extend $font-icon
    content '\e80e'

$font-angle-right
    @extend $font-icon
    content '\e807'

$font-run
    @extend $font-icon
    content '\f00f'

$font-copy
    @extend $font-icon
    content '\f0c5'

$font-comment
    @extend $font-icon
    content '\f4ac'

$font-search
    @extend $font-icon
    content '\e81b'

$font-study
    @extend $font-icon
    content '\1f393'

$font-user
    @extend $font-icon
    content '\1f464'

$font-job
    @extend $font-icon
    content '\1f4bc'

$font-blogs
    @extend $font-icon
    content '\1f4c4'

$font-events
    @extend $font-icon
    content '\1f4c5'

$font-reference
    @extend $font-icon
    content '\1f4d5'

$font-time
    @extend $font-icon
    content '\1f554'

$font-video
    @extend $font-icon
    content '\e800'

$font-mobile
    @extend $font-icon
    content '\e801'

$font-printable
    @extend $font-icon
    content '\e802'

$font-pencil
    @extend $font-icon
    content '\e803'

$font-trash
    @extend $font-icon
    content '\e804'

$font-menu
    @extend $font-icon
    //- \0021, not just \21
    content '\0021'

$font-link
    @extend $font-icon
    content '\e80c'

$font-camera
    @extend $font-icon
    content '\e812'

$font-home
    @extend $font-icon
    content '\e813'

$font-sitemap
    @extend $font-icon
    content '\e814'

$font-close-button
    @extend $font-icon
    content '\e815'

$font-twitter
    @extend $font-icon
    content '\e808'

$font-facebook
    @extend $font-icon
    content '\e809'

$font-google
    @extend $font-icon
    content '\e80a'

$font-vkontakte
    @extend $font-icon
    content '\e80b'

$font-github
    @extend $font-icon
    content '\e80f'

$font-github-large
    @extend $font-icon
    content '\e853'

$font-yandex
    @extend $font-icon
    content '\e806'

$font-rur
    @extend $font-icon
    content '\e811'

$font-single-col
    @extend $font-icon
    content '\e816'

$font-multi-col
    @extend $font-icon
    content '\e817'

$font-ldquote
    @extend $font-icon
    content '\e81a'

$font-install
    @extend $font-icon
    content '\e81c'

$font-basket
    @extend $font-icon
    content '\e81d'

$font-like
    @extend $font-icon
    content '\E81F'

$font-earth
    @extend $font-icon
    content '\E823'

$font-chat-bubbles
    @extend $font-icon
    content '\E820'

$font-college-hat
    @extend $font-icon
    content '\E822'

$font-star-label
    @extend $font-icon
    content '\E821'

$font-flag
    @extend $font-icon
    content '\E824'

$font-back-in-time
    @extend $font-icon
    content '\E825'

$font-rotate-right
    @extend $font-icon
    content '\E826'

$font-heart-plus
    @extend $font-icon
    content '\E827'

$font-private
    @extend $font-icon
    content '\E828'

$font-bold
    @extend $font-icon
    content '\E829'

$font-italic
    @extend $font-icon
    content '\E82A'

$font-link
    @extend $font-icon
    content '\E82B'

$font-redo
    @extend $font-icon
    content '\E82C'

$font-cut
    @extend $font-icon
    content '\E850'

$font-undo
    @extend $font-icon
    content '\E82D'

$font-ol
    @extend $font-icon
    content '\E830'

$font-ul
    @extend $font-icon
    content '\E82E'

$font-fenced-code
    @extend $font-icon
    content '\E82F'

$font-heading
    @extend $font-icon
    content '\E831'

$font-image
    @extend $font-icon
    content '\E832'

$font-code
    @extend $font-icon
    content '\E833'

$font-editor-quote
    @extend $font-icon
    content '\E834'
