.courses-recruitment

    .main ul&__list,
    .main li&__course,
    .main h4&__title,
    .main p&__text
        margin 0
        padding 0

    .main li&__course:before
        display none
        content ''

    &__list
        display table
        width 100%
        background background

    &__course
        display table-row

    .main &__participants-limit
        color secondary_color
        margin-top 5px
        font-size 12px

    &__info,
    &__apply
        display table-cell

        padding 20px 15px

        border-bottom 2px solid #f7f6ea

    &__info
        width 100%

        &_discount
            padding-top 10px
            padding-bottom 10px
            background rgba(background, .5)
            font-size 14px
            color light_gray_color

            a
              color color_red
              font-weight bold

    &__apply .price
        margin-bottom 5px

    &__apply .price,
    &__apply .price__secondary
        font-family font
        font-size 14px
        line-height initial
        vertical-align baseline

        white-space nowrap

    &__apply .button
        font-size 13px
        line-height 34px

        padding-left 20px
        padding-right 20px

    &__apply .button:focus,
    &__apply .button:active,
    &__apply .button:focus:active
        padding-left 19px
        padding-right 19px

    .main h4&__title,
    .main p&__text
        font-size 14px
        line-height initial

    .main p&__text
        margin-top 5px

    &__anchor
        position relative
        top -100px

        display block

    &__teacher
        margin-top 10px

    &_no-groups
        padding 20px
        background background

    &_no-groups h3&__info-title
        font 14px font

        margin 0
        padding 0

        text-align left

        color light_gray_color

    @media tablet
        &__list
            display block
            width auto

        .main li&__course
            display block

            padding 20px

            border-bottom 2px solid #f7f6ea

        &__info,
        &__apply
            display block
            border none

            padding 0

        &__apply
            margin-top 15px

        &__info
            &_discount
                padding 10px 20px
                box-sizing border-box
