.donate-links
  display inline-block

  &__title
      display inline-block
      margin-right 10px
      color #C4C2C0
      font-size 12px

  &__link
    color #FFFB9D
    margin-right 20px
    transition unquote('color') 0.2s
    font-size 16px

    &:hover
      color #fff
      text-decoration none

    &::after
        @extend $font-heart-plus
        display inline-block
        vertical-align bottom
        min-height 20px
        min-width 20px
