.participant-application
    @extend $yellow-border

    box-sizing: border-box
    max-width 635px
    margin 0 auto
    padding 50px 45px

    text-align left

    & .text-input,
    & .input-select
        width 100%
        max-width 410px
        margin-top 7px

    & .textarea-input
        width 100%
        margin-top 7px

    & .textarea-input
        min-height 75px

    & .upload-userpic
        margin-top 7px

    &__label
        display block

    &__flag
        margin-left 4px
        border 1px solid separator_color

    &__line
        margin-top 25px

    .main p&__note
        font-size 13px

        margin 5px 0 0 0

        color light_gray_color

    @media tablet
        &
            border none
