.code-example
    margin 22px 0

    &__codebox,
    &__codebox pre[class*="language-"]
        margin-bottom 0

    &__codebox
        width 100%
        height 100%

    &__result
        margin-top 0
