$login-form-additional-info
    font-size 14px
    padding 10px 15px
    border-radius 4px
    border 1px solid

.login-form

    &_modal
        width 410px
        background #EEE

    &_inline
        margin-top -20px

    &_inline &__body
        @extend $yellow-border
        box-sizing border-box

        overflow hidden

        max-width 500px
        margin 30px auto 0
        padding-top 30px

        text-align left

    &_modal &__form
        padding-top 20px

        background background

    &__line
        padding 0 30px
        margin-bottom 15px
        font-size 14px
        position relative

    &__line:last-child
        margin-bottom 0

    &__notification:empty
        margin 0
    &__note
        color #656565

    &__error
        @extend $login-form-additional-info
        background #F2DEDE
        border-color #E7C9C9

    &__warning
        @extend $login-form-additional-info
        background #FCF8E1
        border-color #ECE6C4

    &__info
        @extend $login-form-additional-info
        background #D9EDF8
        border-color #C8E0ED

    &__success
        @extend $login-form-additional-info
        background #DFF0D6
        border-color #D1E7C6

    &__header,
    &__footer
        display table

    &_modal &__title,
    &_modal &__header-aside,
    &__button,
    &__footer-link
        display table-cell

    &__aside,
    &__footer-link
        white-space nowrap

    &_modal &__title,
    &__button
        width 100%
        padding-right 10px

    &_modal &__title
        font 700 26px secondary_font

    &__label
        color color

    &__input
        width 100%
        margin-top 10px
        position relative

    &_inline &__label
        display block

    &_inline &__input
        max-width 350px

    // we MUST repeat theese rules for each selector to make it work
    &__input .text-input__control::-webkit-input-placeholder
        color #b3b3b3

    &__input .text-input__control::-moz-placeholder
        color #b3b3b3

    &__input .text-input__control:-ms-input-placeholder
        color #b3b3b3


    &__input_invalid
        border-color #e62e29
        color #e62e29

    &__link,
    &__link:visited
        color alternate_link_color

    &__button-link
        @extend $link-button

    &__forgot
        line-height 34px

    &__forgot:active
        position absolute

    &__footer
        margin-top 25px

    &__separator
        color light_gray_color
        margin 0 1ex

    &__submit
        min-width 110px
        outline none
        margin 0

    &__social-logins
        background #eee
        line-height 0
        margin-top 30px
        padding-top 16px
        padding-bottom 35px

    &_inline &__social-logins
        background #F6F4EB
        padding-bottom 15px

    &__social-logins-title,
    .main h5&__social-logins-title
        font 700 18px/normal secondary_font
        margin-bottom 15px

    &__social-login
        margin 0 6px 10px 0

    &_modal &__close,
    &_modal &__close:active
        position absolute
        top -15px
        right -15px

    &_modal &__close:focus
        outline none

    &_modal  &__close-link
        display none

    & p
        margin 10px 0

    @media tablet
        &_modal
            position absolute
            top 0
            left 0
            right 0
            bottom 0

            width auto

        &_modal &__close-link,
        &_modal &__close-link:visited
            display inline-block
            margin-left 20px

        &__header-aside
            padding-top 7px

            vertical-align top

        &__social-login.social-login
            font-size 14px

            min-width 115px

        &__social-login.social-login:before
            padding 0 2px

    @media phone
        &_inline &__body
            border none
            border-radius initial

            width auto
            max-width initial
            margin-left -10px
            margin-right -10px

