@media tablet
  .tablet-menu
      position absolute
      top auto
      right auto
      left auto

      width 100%

      border 0
      border-radius 0

      background sitetoolbar_secondary_bg
      box-shadow 0 3px 8px -1px rgba(0, 0, 0, 0.2)

      &__line
          display table
          width 100%
          border-top 1px solid #e7e5e3

      &__title,
      &__content,
      &__aside
          display table-cell
          height 60px
          vertical-align middle

      &__header
          white-space nowrap

      &__content
          width 100%
          padding 0 20px

      &__content .map,
      &__content .tablet-ebook
          color #7E7E7E

      &__aside
          white-space nowrap
          padding 0 20px 0 0

      &__nav
          width 100%
