.courses-programm-register
    margin-top 40px

    border-radius 5px
    background #f7f6ea

    & h2&__title
        padding 10px

        color #b20000
        border-bottom 1px solid #e4e0d2

    & h2&__title,
    & h3&__course-title
        margin 0

        font-family secondary_font
        line-height initial

    & ul&__courses,
    & li&__course,
    & &__course-text p
        padding 0
        margin 5px 0 0 0
        list-style none

    & li&__course:before
        display none

        content: '';

    & ul&__courses
        text-align left

    & li&__course
        padding 25px

        border-bottom 1px solid #e4e0d2

    & li&__course:last-child
        border none

    &__course-title .link
        color link_color
        text-decoration underline

    &__course-title .link:hover,
    &__course-title .link:visited:hover
        color link_hover_color

    &__course-badge
        font 11px/14px font

        display inline-block

        padding 3px 10px
        margin-left 10px

        white-space nowrap

        color #fff
        background #ffaa42
        border-radius 14px

    & p&__course-text
        margin-top 5px

    &__anchor
        position relative
        top -40px

        display block

    @media (max-width: 690px)
        &
            order -1
            margin-left -10px
            margin-right -10px

            border-radius initial

        & h2&__title
            color #333

        & h3&__course-title
            display flex
            flex-direction column
            align-items center

        & h3&__course-title .link
            display inline-block

            text-decoration none

        &__course-badge
            margin 10px 0 0 0

        & p&__course-text
            margin-top 15px
