.teacher-picture
    position relative

    display inline-block


    width 145px

    text-align center

    &__img
        overflow hidden

        width 145px
        height 145px

        border-radius 50%

    &__text
        display inline-block

    &__content
        font-size 13px
        line-height 13px

        display inline-block

        padding 5px 15px
        margin-top 10px

        white-space nowrap

        border-radius 50px

        color #ffffff
        background #f6aa51



