.course-register-settings
    display table
    table-layout fixed

    width 100%

    margin-top 25px

    &__cell
        display table-cell

        width 33.3%

        padding 10px 30px

        border-left 1px solid #e7e5e3
        border-right 1px solid #e7e5e3

    &__cell:first-child
        padding-left 0

        border none

    &__cell:last-child
        padding-right 0

        border none

    & &__title
        font-size 14px
        font-weight normal

        margin 0

    &__title:after
        content ':'

    &__body
        margin-top 15px

    & .price
        width 180px
        text-align center

    & .price__secondary
        margin-left 10px

    @media phone
        &
            display block

        &__cell
            display block

            width auto

            padding 40px 20px !important

            border 0
            border-top 1px solid #e7e5e3 !important

        &__cell:first-child
            border 0 !important

        & .price
            width auto
            text-align center
