
@require "~styles/blocks/variables/variables"

@require "~styles/blocks/font/font-icons"

.mdeditor
    width 100%


    &__editor
        border 1px solid #E2E2E2
        border-radius 4px

    &__footer
        background-color #F2F2F2
        border-top 1px solid #E2E2E2
        height 11px

    &__resize-handle
        background url(resize-vertical.svg) center center no-repeat
        height 11px
        width 26px
        margin auto
        cursor ns-resize

    &_resizing
        //- whole editor has this cursor while resizi
        cursor ns-resize

    &__button-bar
        width 100%
        background-color #F2F2F2
        border-bottom 1px solid #E2E2E2
        height 38px
        padding-left 16px
        box-sizing: border-box
        padding-top 3px

    &__button-separator
        width 20px
        height 20px
        display inline-block

    &__button
        border 0
        padding 0
        background none
        appearance none
        width 20px
        height 20px
        display inline-block
        color #666666
        font-size 14px
        margin-right 6px
        &:focus
            outline none

        &:hover
            color black
            cursor pointer

        &[data-action="bold"]::before
            @extend $font-bold

        &[data-action="italic"]::before
            @extend $font-italic

        &[data-action="link"]::before
        &[data-action="autolink"]::before
            @extend $font-link

        &[data-action="quote"]::before
            @extend $font-editor-quote

        &[data-action="code"]::before
            @extend $font-code

        &[data-action="fencedCode"]::before
            @extend $font-fenced-code

        &[data-action="image"]::before
            @extend $font-image

        &[data-action="ol"]::before
            @extend $font-ol

        &[data-action="ul"]::before
            @extend $font-ul

        &[data-action="heading"]::before
            @extend $font-heading

        &[data-action="undo"]::before
            @extend $font-undo

        &[data-action="redo"]::before
            @extend $font-redo

        &[data-action="help"]::before
            @extend $font-link



    &__input
        width 100%
        height 200px
        background-color #fff
        border none
        resize none
        margin 0
        padding 10px
        box-sizing border-box
        display block
        font-size 14px


    &_small &__input
        height 200px

    &_large &__input
        height 500px

    &__input:focus
        outline none

    &__preview
        box-sizing border-box
        padding 20px 0
        border-top 1px dotted #ccc
        border-bottom 1px dotted #ccc
        clear both
        margin 20px 0px 20px 0px
