.courses-professionals
    text-align left

    &__feedback
        position relative

        min-height 95px
        margin-top 40px
        padding-left 110px

    .main h3&__feedback-title
        font bold size/lineheight font

        margin 0

        text-align left

    .main a&__homepage
        font-size 13px
        font-weight normal
        margin-left 10px

        color link_color

    .main a&__homepage:hover
        color link_hover_color

    .main & p
        margin 10px 0

    .main p&__about
        color light_gray_color

    &__userpic
        position absolute
        left 0
        top -15px
        overflow hidden

        width 86px
        height 86px

        border-radius 50%

    @media phone
        &__feedback
            padding-left 98px

