.teacher-info
    overflow hidden

    margin-top 50px

    text-align left

    border-radius 3px
    background #f7f6ea

    .main table&__table
        margin 0

    .main tr&__line
        border-color #EAE5D9

    .main tr&__line:last-child
        border none

    .main tr&__line:nth-child(even)
        background none

    .main tr&__line:first-child th
        vertical-align top

        border none !important

    .main th&__head,
    .main td&__info
        padding 20px 50px

        vertical-align top

    &__head
        font-weight normal
        white-space nowrap
