donate-list-separator = 1px solid #F2E7B3

.donate-list
    @extend $clearfix
    margin 22px 0

    border-radius 6px
    border 4px solid #F2E7B3
    background #fff

    ol&__items // усиливаем селекторы тегом
        list-style none
        padding 0
        margin 0
        counter-reset donate-item

    & li&__item
        margin 0
        position relative
        font 16px/20px font
        padding 16px 20px 14px 55px
        border-bottom donate-list-separator

    &__item:last-child
        border 0

    &__item::before
        content counter(donate-item) '.'
        counter-increment donate-item
        font 16px/20px secondary_font
        color #959595
        position absolute
        left 10px
        top 16px
        min-width 30px
        min-height 22px
        text-align right

    &__amount
        position absolute
        right 28px
        top 16px
        font-size 14px
        color #999

    @media tablet
        &__item::before
            top 10px
            left 5px

        &__item
            padding 10px 10px 9px 43px



