.page-loader
  display inline-block

  margin-top 20px
  padding 5px 20px

  text-align center

  border-radius 50px
  border 2px solid background_blocks

  & .spinner__dot
    background background_blocks
