include /bem/index

- console.log(roots)

+b.tutorial-map
  +e.filter
    +e.filter-t
      +e.input-wrap
        +b('span').text-input.__input
          +e('input').control(type="text" placeholder=t('tutorial.map.filter_by_title') data-tutorial-map-filter)
          +e.clear
      +e.option
        +e('label').option-label(for="show-tasks")
          +e('input').option-control#show-tasks(type="checkbox" data-tutorial-map-show-tasks)
          = t('tutorial.map.show_tasks')

  +b.tutorial-map-list
    each topic in roots
      +e.item
        +e('h2').title= topic.title
        +b('ul').tutorial-map-list-two
          each slug in topic.children
            - let subtopic = bySlug(slug)
            - console.log(slug, subtopic);
            +e('li').item
              +e.title
                +e('a').link(href=subtopic.getUrl())= subtopic.title
              if subtopic.children.length
                +b('ul').tutorial-map-list-three
                  each slug in subtopic.children
                    - let article = bySlug(slug)
                    +e('li').item
                      +e.title
                        +e('a').link(href=article.getUrl())= article.title
                      if article.children
                        +b('ul').tutorial-map-list-four
                          each slug in article.children
                            - let task = bySlug(slug)
                            +e('li').item
                              +e.title
                                +e('a').link(href=task.getUrl())= task.title
