+e.content
  +e.answer
    if (task.solution instanceof Array)
      each step, i in task.solution
        +e.step._open
          +e('button').step-show(type="button", onclick="showStep(this)")= step.title
          +e.answer-content
            +e('h4').step-title= step.title
            != step.content

    else
      +e.answer-content
        != task.solution

    +b('button').close-button.__answer-close(type="button", title="закрыть")

  != task.content
