extends /layouts/main

include ../../../templates/blocks/frontpage-content

block append variables
  - var headTitle = 'The Modern Javascript Tutorial';
  - var title = false
  - var header = false
  - var comments = true
  - var layout_main_class = 'main_width-limit-wide'
  - var content_class = 'frontpage'


block append head
  !=js("tutorial", {defer: true})
  meta(name="description" content=t('locales.meta.description'))

block content
  +frontpage-content({
    tutorialTree, topArticlesRendered
  })
