.article-tablet-foot

    &__layout
        display flex
        flex-wrap: wrap
        align-items baseline

        white-space nowrap

    & .share-icons
        flex-grow 1


    &__map .map,
    &__map .map__text
        vertical-align baseline