.invoice-table

    .main &__empty-message
        margin 12px
        padding 10px

    &__participant-form,
    &__contact-form
        //- for progress overlay positioning
        position relative

    .notification&__state-notification
        margin-top 0

    & table tr:first-child th
        border-width 1px
        border-color #e4e0d2

    & table&__table,
    & th&__main
        margin 0

    & table&__table
        width 100%

    & tr&__data,
    & tr&__settings
        border-bottom 1px solid #e4e0d2

    & tr&__data:nth-last-child(2),
    & tr&__settings:last-child
        border none

    &__data
        transition background-color 0.2s

    &__data:hover
        background #f9f8f0

    & th&__main,
    & td&__info
    & td&__price
        padding 25px 12px 25px 12px

    & th&__main
        font-size 11px
        font-weight normal

        width 50%
        padding-left 25px

    & td&__info
        vertical-align middle
        white-space nowrap

    &__info-link
        font-size 13px

        padding-right 30px

    &__info-link:after
        @extend $font-external

        position absolute

        margin-top 2px
        padding-left 5px

        text-decoration none

        color #ccc

    & td&__price
        width 0.1%
        padding-right 25px

        text-align center
        white-space nowrap

    &__price .price
        font-size 17px

        color #000

    &__payment-status
        font-size 12px
        font-weight bold

        margin-top 3px

        line-height 14px
        color #b40000

    &__payment-status_success
        color #4c906b

    &__payment-type
        font-size 12px
        line-height 14px

    &__number
        margin-right 10px

    & h3&__title
        font 17px/20px secondary_font
        margin 5px 0 0 0

    &__slots
        font-size 12px
        margin-top 5px

    &__slots-free:before
        content: ": "

    &__slots-busy:before
        font-weight normal
        content: " / "

    &__slots-confirmed_note
        color light_gray_color

    &__settings
        display none

    &__data_show_settings
        background #f9f8f0
        border-bottom none !important

    & &__data_show_settings th&__main,
    & &__data_show_settings td&__info,
    & &__data_show_settings td&__price
        padding-bottom 0

    &__data_show_settings + &__settings
        display table-row

    & td&__settings-cell
        padding 25px

        background #f9f8f0

    &__settings-dropdown
        position relative

        padding 30px

        white-space nowrap

        background #fff
        border-radius 5px
        border 2px solid #ffab33

        &:before
            position absolute
            top -13px
            left 60px

            width 20px
            height 20px
            margin-left -10px

            background #fff
            border-left: 2px solid #ffab33
            border-top: 2px solid #ffab33

            transform rotate(45deg)

            content: ''

    &__settings-dropdown-close
        position absolute
        right -18px
        top -19px

    &__settings-dropdown-cell
        display inline-block

        vertical-align top
        white-space normal

        box-sizing border-box

    &__settings-dropdown-cell_left
        width 63%
        padding-right 10px

        border-right 3px solid #f5f2f0

    &__settings-dropdown-cell_right
        width 37%
        padding-left 30px

    h4&__settings-title
        font 17px/17px secondary_font

        margin 0

    & ul&__settings-participants,
    & li&__settings-participant
        margin 0
        padding 0

    & ul&__settings-participants
        margin 35px 0 -20px 0

    & li&__settings-participant:before
        display none
        content: ''

    &__settings-participant
        font-size 13px

        display inline-block

        box-sizing border-box

        width 50%
        padding 0 20px 20px 0 !important

    &__settings-participant:only-child
        width 100%

    &__participant-label,
    &__contact-form-label
        display block

    &__settings-participant .text-input,
    &__contact-form .text-input
        position relative

        width 100%
        margin-top 5px

    &__settings-participant .text-input__status
        position absolute
        top 0
        right 0
        bottom 0

        font-size 18px

        width 34px
        line-height 34px


        color #fff
        text-align center

        border-radius 0 3px 3px 0

    &__settings-participant .text-input_approved_no .text-input__status
        background light_gray_color

    &__settings-participant .text-input_approved_yes .text-input__status
        background #47916a

    &__settings-participant .text-input_approved_no .text-input__status:after
        @extend $font-help

        display block

    &__settings-participant .text-input_approved_yes .text-input__status:after
        @extend $font-ok

        display block

    &__settings .text-input__err
        position absolute

        line-height 13px

    &__settings-participant .text-input__control
        padding-right 34px

    &__settings-line
        margin-top 20px

    &__settings-line_submit
        margin-top 30px

    &__settings-line_foot
        margin-top 50px

        white-space normal

    p&__note
        font-size 14px

        margin 10px 0 20px 0

    &__contact-form &__settings-line:first-child
        margin-top 35px

    &__contact-form .text-input
        width 100%

    &__contact-form .full-phone__tel-wrap .text-input
        margin 0

    &__contact-form .full-phone__tel-wrap .text-input
        margin 0

    &__cancel-order
        float right

        line-height 34px

        color #568DCA

    @media (max-width: 970px)
        &__settings-dropdown-cell
            display block
            width auto !important
            padding 0 !important
            border none !important

        &__settings-dropdown-cell_right
            margin-top 30px

        &__settings-dropdown-cell_right .full-phone
            width 50%
            margin-top 30px
