.buy-book-button
    position relative
    overflow hidden

    display inline-block

    line-height 34px
    padding 0 12px

    white-space nowrap
    vertical-align middle
    text-decoration none !important

    color #cb6556
    box-shadow inset 0 0 0 2px #f8e8e5
    border-radius 34px

    transition unquote('color') 0.2s, box-shadow 0.2s

    &:before
        position absolute
        left 0
        right 0
        bottom 100%
        top 0
        z-index -1

        background #cb6556

        transition bottom 0.2s

        content: ''

    &:hover
        color #fff
        box-shadow none


    &:hover:before
        bottom 0



