include /bem

+b(class=['login-form', (inModal ? '_modal' : '_inline')])
  +e('form').form(action="#" data-form="forgot")

    if inModal
      +e.line.__header
        +e('h4').title Восстановление пароля

    else
      p
        | Если у вас еще нет аккаунта, вы можете&nbsp;
        +e('button').button-link.__register(type="button" data-switch="register-form") зарегистрироваться

    +e.body
      +e.line.__notification(data-notification)
      +e.line
        +e('label').label(for="forgot-email") Email:
        +b('span').text-input.__input
          +e('input').control#forgot-email(name="email" type="email" autofocus)
      +e.line
        +e.recaptcha
      +e.line
        +b('button').button._action.__submit(type="submit")
          +e('span').text Восстановить пароль
      +e.line.__footer
        +e('button').button-link(type="button" data-switch="login-form") Вход
        =" "
        +e('span').separator /
        =" "
        +e('button').button-link(data-switch="register-form") Регистрация
        if inModal
          +e('a').close-link.tablet-only.modal__close Отмена
      include login-form-footer

