extends /layouts/body

block append variables
  - var title = "Восстановление пароля"

block body
  +b.page
    +e.inner
      +b.main._width-limit

        +b.recover
          +e('h1').title Восстановление пароля

          if error
            //- __message - на будущее, даёт класс recover__message для стилизации в контексте recover
            +b.notification._message._error.__message
              +e.content= error
              +e('button').close(title="Закрыть")

          +e('form')(action="/auth/forgot-recover" method="POST").content
            input(type="hidden" name="passwordResetToken" value=passwordResetToken)
            +e.controls
              +e.label-wrap
                +e('label').label(for="newpass") Новый пароль
              +e.input-wrap
                +b.text-input._small.__input
                  +e('input').control#newpass(type="password" name="password" autofocus)
              +e.save-wrap
                +b('button').button._action.__save
                  +e('text') Сохранить пароль

