
+b('button').social-login._facebook.__social-login(data-provider="facebook") Facebook
=" "
+b('button').social-login._google.__social-login(data-provider="google") Google+
=" "
+b('button').social-login._vkontakte.__social-login(data-provider="vkontakte") Вконтакте
=" "
+b('button').social-login._github.__social-login(data-provider="github") Github
=" "
+b('button').social-login._yandex.__social-login(data-provider="yandex") Яндекс
