.grayed-list

    body &
        max-width: 620px;
        padding 0 20px
        margin: 0 auto;

    & &__item
        font 27px/1.2 secondary_font

        margin 0
        padding 22px 25px 28px

        text-align center

        color #e7e5e3
        background #f5f2f0
        border-top 2px solid #e7e5e3

    & &__item:before
        display none

    & &__item:first-child
        border-top 0

    & &__item:last-child
        border-radius 0 0 10px 10px

    @media tablet
        &
            display none
