// блок .notification — сообщение, выводимое пользователю
// по оформлению:
//     .notification_error   - ошибка
//     .notification_warning - предупреждение
//     .notification_info    - информация
//     .notification_success - успешное завершение действия
// по расположению:
//     .notification_popup   - сообщение поверх контента, фиксированное позиционирование
//     .notification_message - сообщение в контенте страницы в любом необходимом месте
//     .notification_top  - сообщение в верхней части страницы, над панелью навигации

.notification
    position relative

    &__content
        margin 22px 45px 22px 22px
        color color
        font 400 size/16px font
        white-space normal

    &__content p
        margin 10px 0

    &_popup,
    &_message
        border 1px solid
        border-radius 4px

    &_message
        margin 22px 0

    &_popup
        border 1px solid
        box-shadow 0 3px 3px rgba(0, 0, 0, .25)
        position fixed
        z-index 9999
        top 0
        left 0
        right 0
        margin 0 auto
        max-width 630px
        // transform translateY(-100%)
        transition all .3s ease-out
        transform translateY(-100%)
        box-sizing border-box

    &_top
        min-height top_notification_height
        display inline-block // no margin-collapse
        width 100%
        vertical-align bottom

    &_top &__content
        text-align center

    &_error
        background #F2DEDE
        border-color #E7C9C9

    &_error &__cause
        color secondary_color

    &_error &__close
        color #A86464

    &_error &__close &:hover
        color lighten(#A86464, 20%)

    &_warning
        background #FCF8E1
        border-color #ECE6C4

    &_warning &__close
        color #A99E62

    &_warning &__close &:hover
        color lighten(#A99E62, 20%)

    &_info
        background #D9EDF8
        border-color #C8E0ED

    &_info &__close
        color #5C879F

    &_info &__close &:hover
        color lighten(#5C879F, 20%)

    &_success
        background #DFF0D6
        border-color #D1E7C6

    &_success &__close
        color #699552

    &_success &__close &:hover
        color lighten(#699552, 20%)

    &__close
        @extend $button-reset
        position absolute
        right 18px
        top 22px
        width 14px
        height 14px

    &__close:active
        position absolute

    &__close::before
        @extend $font-close-cross
        vertical-align middle
        line-height 1
        font-size 15px
