html,
body
    height 100%

body
    font size/lineheight font
    text-size-adjust none
    color color
    background background
    margin 0
    if rtl
        background-color green

@media print
    body
        color black

