html,
body
    height 100%

body
    font size/lineheight font
    text-size-adjust none
    color color
    background background
    margin 0
    if isRTL
        direction rtl

@media print
    body
        color black

