.tablet-ebook
    font-size 14px

    color alternate_link_color

    vertical-align middle
    text-decoration none
    white-space nowrap

    &:before
        @extend $font-basket

        font-size 22px
        line-height 44px

        vertical-align middle

        color #8B8987

    &:hover
        text-decoration none

    &__text
        margin-left 14px

        vertical-align middle

    &__note
        margin-left 10px

        opacity 0.5
