.subscribe
  padding 45px

  &_fancy
    padding 25px

    background #EBF6FF url('/img/subscribe_bg.svg') 0 80% no-repeat
    background-size cover
    border-radius 4px

  .main h3&__title
    margin 0

    color #666

  &__form
    margin-top 20px

  &__line
    font-size 13px

    margin-top 10px

    color #4A4A4A

  &__line_email
    width 50%
    margin-top 25px

  &__input
    margin-right 7px

  &__action
    margin-top 20px
