.rating
    color light_gray_color

    &__star
        font-size 24px
        line-height 24px

        font-style normal

    &_1 &__star:nth-child(1),
    &_2 &__star:nth-child(1),
    &_2 &__star:nth-child(2),
    &_3 &__star:nth-child(1),
    &_3 &__star:nth-child(2),
    &_3 &__star:nth-child(3),
    &_4 &__star:nth-child(1),
    &_4 &__star:nth-child(2),
    &_4 &__star:nth-child(3),
    &_4 &__star:nth-child(4),
    &_5 &__star
        color #F8AB47


