.courses-features

    display table

    width 100%
    border-radius 5px
    overflow hidden

    & h2&__title
        display table-caption

        background #DDD

    & h2&__title,
    & h3&__feature-title
        margin 0

        font-family secondary_font
        line-height initial

    & ul&__features,
    & li&__feature,
    & p&__feature-text
        padding 0
        margin 0
        list-style none

    &__title
        padding 10px

    &__features
        white-space normal

        display table-row

        background #EEE
        border-radius 0 0 5px 5px

    & li&__feature

        display table-cell

        width 20%

        padding 20px 10px

        border-right 1px solid #DDD

    & li&__feature:last-child
        border none

    & p&__feature-text
        font-size 12px
        margin-top 10px

    // Icons
    .main ul&__features

        & > li.courses-features__feature::before
            font-size 85px
            line-height 85px

            display block
            float none

            height 85px

            margin 15px 0 20px 0

            text-align center

            color #B80000

        & > li.courses-features__feature_quality::before
            @extend $font-like

        & > li.courses-features__feature_online::before
            @extend $font-earth

        & > li.courses-features__feature_support::before
            @extend $font-chat-bubbles

        & > li.courses-features__feature_result::before
            @extend $font-college-hat

        & > li.courses-features__feature_guarantees::before
            @extend $font-star-label


    @media (max-width: 690px)
        &
            display block

            width auto
            margin-left -10px
            margin-right -10px

            border-radius initial

        & h2&__title,
        &__features
            display block

        & li&__feature
            position relative

            display block

            width auto

            min-height 85px
            padding 20px 10px 20px 100px

            text-align left

            border-right none
            border-bottom 1px solid #DDD

        .main ul&__features

            & > li.courses-features__feature::before
                font-size 45px
                line-height 45px

                position absolute
                left 25px
                top 20px

                float none

                width 60px
                height auto

                margin 0
