.shortcut
    background #f6f4f2
    border 1px solid #e8e6e5
    border-radius 3px
    padding 1px 2px 0
    font-family fixed_width_font
    line-height inherit
    word-spacing -.4ex

    &__plus
        color #b8b7b7
