@require "blocks/variables/variables"

@require "blocks/tablet-only/tablet-only"
@require "blocks/phone-only/phone-only"
@require "blocks/reset/reset"
@require "blocks/placeholders/*"
@require "blocks/columns/columns"


@require "blocks/font/font-icons"
@require "blocks/font-test/font-test"

@require "../templates/blocks/text-input"
@require "blocks/text-input-button/text-input-button"
@require "../templates/blocks/input-select"
@require "../templates/blocks/textarea-input"
@require "../templates/blocks/label"
@require "blocks/switch/switch"
@require "blocks/modal/modal"

@require "blocks/switch-input/switch-input"
@require "blocks/number-input/number-input"
@require "../templates/blocks/button"
@require "blocks/spinner/spinner"
@require "blocks/progress/progress"
@require "blocks/close-button/close-button"
@require "blocks/simple-button/simple-button"
@require "blocks/tabbed-pane/tabbed-pane"

@require "blocks/body/body"
@require "blocks/page-wrapper/page-wrapper"
@require "blocks/page/page"
@require "blocks/links/links"
@require "blocks/main/main"
@require "blocks/content/content"
@require "blocks/image/image"
@require "blocks/share/share"
@require "blocks/donate-button/donate-button"
@require "blocks/donate-links/donate-links"
@require "blocks/sidebar/sidebar"

@require "blocks/breadcrumbs/breadcrumbs"
@require "blocks/important/important"

@require "blocks/summary/summary"
@require "blocks/shortcut/shortcut"
@require "blocks/spoiler/spoiler"

@require "blocks/toolbar/toolbar"
@require "blocks/codebox/codebox"
@require "blocks/code-result/code-result"
@require "blocks/code-example/code-example"
@require "blocks/code-tabs/code-tabs"
@require "blocks/balance/balance"

@require "blocks/comments/comments"
@require "blocks/banner-bottom/banner-bottom"
@require "blocks/submit-button/submit-button"

@require "blocks/page-footer/page-footer"
@require "blocks/standard-table/standard-table"
@require "blocks/corrector/corrector"
@require "blocks/quote/quote"

@require "blocks/lessons-list/lessons-list"

@require "blocks/extract/extract"
@require "blocks/grayed-list/grayed-list"

@require "blocks/search-form/search-form"
@require "blocks/search-results/search-results"
@require "blocks/task/task"
@require "blocks/task-single/task-single"
@require "blocks/tasks/tasks"
@require "blocks/intro/intro"
@require "blocks/course-search/course-search"
@require "blocks/course-info/course-info"
@require "blocks/special-links-list/special-links-list"
@require "blocks/course-bricks/course-bricks"
@require "blocks/error/error"

@require "blocks/tablet-menu/tablet-menu"
@require "blocks/search-paranja/search-paranja"
@require "blocks/map/map"
@require "blocks/tablet-ebook/tablet-ebook"
@require "blocks/tutorial-map/tutorial-map"
@require "blocks/tutorial-map-overlay/tutorial-map-overlay"
@require "blocks/notification/notification"
@require "blocks/prism/prism"
@require "blocks/prism/prism-line-highlight"
@require "blocks/prism/prism-line-numbers"
@require "blocks/prism/my-prism"
@require "blocks/domtree/domtree"

@require "blocks/tutorial-progress/tutorial-progress"
@require "blocks/article-tablet-foot/article-tablet-foot"
@require "blocks/share-icons/share-icons"
@require "blocks/faq-cite/faq-cite"
@require "blocks/jetbrains-form/jetbrains-form"
@require "blocks/flex-column/flex-column"
@require "blocks/image-with-text/image-with-text"
@require "blocks/fixed-tab/fixed-tab"
@require "blocks/rating/rating"

@require "../templates/blocks/section"
