
@require "blocks/login/login"
@require "blocks/photo-cut"
@require "blocks/login-form/login-form"
@require "blocks/login-form-modal/login-form-modal"
@require "blocks/profile/profile"
@require "blocks/recover/recover"
@require "blocks/full-phone/full-phone"

@require "blocks/order-confirm/order-confirm"
@require "blocks/grayed-list/grayed-list"

@require "blocks/order-form/order-form"
@require "blocks/contact-form/contact-form"

@require "blocks/complex-form/complex-form"

@require "blocks/sitetoolbar/sitetoolbar"

@require "blocks/course-form/course-form"

@require "blocks/buy-book-button/buy-book-button"
@require "blocks/payment-currency-form/payment-currency-form"

@require "blocks/rating-chooser/rating-chooser"

@require "blocks/participants-profiles/participants-profiles"
@require "blocks/questionnaire/questionnaire"
@require "blocks/receipts/receipts_register"

@require "blocks/course-feedback/course-feedback"
@require "blocks/course-feedbacks/course-feedbacks"
@require "blocks/feedback-stat/feedback-stat"
@require "../templates/blocks/pie/index"
@require "blocks/feedback-policy/feedback-policy"

@require "blocks/phone-toggler/phone-toggler"

@require "blocks/participant-application/participant-application"
@require "blocks/upload-userpic/upload-userpic"

@require "blocks/teacher-picture/teacher-picture"
@require "blocks/teacher-info/teacher-info"
@require "blocks/teacher-feedback/teacher-feedback"

@require "blocks/page-loader/page-loader"
@require "blocks/subscribe/subscribe"
@require "blocks/donate-list"

@require "blocks/auto-currency"
