$button-reset
    border 0
    background none
    display inline
    margin 0
    padding 0
    cursor pointer

    &::-moz-focus-inner
        border none
        padding 0

    &:focus
        outline 0
