@require './button-reset'

$link-button
    @extend $button-reset
    font inherit
    color link_color
    box-sizing content-box

    &:hover
        text-decoration underline
        color link_hover_color
