// we use placeholder selector to make it easier to rename the block
// we can't extend selectors with &, so we don't use them for extends
$main-loud
  font-size font_size_m
  font-weight 700
  line-height line_height_l
  margin 1em 0

.main
  margin auto
  padding 0 0 35px

  &_width-limit
    max-width max_width

  &_width-limit-wide
    max-width max_width_wide

  &_width-limit-wider
    max-width max_width_extra_wide

  &_align-left
    margin auto 0

  &.main_width-limit-list
    max-width 960px

  &_no-padding
    padding-bottom 0

  &_white-page
    margin-top 56px
    padding 0 56px 53px
    box-sizing border-box
    background var(--backgroundBases)

  &_frontpage
    & .comments
      padding 0 16px
      max-width calc(984px + 16 * 20)

    & .article-tablet-foot
      padding 0 16px

  &::before,
  &__header::before
    content ""
    display table // убираем margin collapse

  &__header .breadcrumbs
    margin 0 0 12px 0
    padding 0

  &__header
    margin 40px 0 16px 0

  &__header_center
    border 0

  &__header_center &__header-title,
  &__header_center-desktop &__header-title,
  &__header_center .breadcrumbs
    text-align center

  & &__header-title
    font 700 32px/40px secondary_font
    margin 0 auto 12px auto
    padding 0

  & &__header-title:not(::first-line)
    color var(--foregroundConstructive)

  & &__header-title:only-child
    padding-bottom 5px

  &__username
    font-style inherit
    font-weight inherit
    color secondary_color

  &__header-nav
    float right

  &__lesson-nav
    display table
    float right

  &__lesson-nav-prev,
  &__lesson-nav-next
    display table-cell

  &__lesson-nav-prev
    padding-right 15px
    border-right 2px solid var(--borderAlt)

  &__lesson-nav-next
    padding-left 15px

  &__lesson-nav-prev:last-child
    border none
    padding-right 0

  &__lesson-nav kbd
    font-size 11px
    color var(--foregroundAlt)
    font inherit

  &__lesson-nav-arr
    position relative
    top -.1em

  &__lesson-nav-link
    color var(--foregroundAlt)
    text-decoration underline

  h2,
  h3,
  h4
    position relative

  h1 code,
  h1 a,
  h2 code,
  h2 a,
  h3 code,
  h3 a,
  h4 code,
  h4 a
    font inherit
    color inherit
    text-decoration none

  h1,
  h2,
  h3,
  h4,
  h5
    page-break-after avoid

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p
    page-break-before avoid

  & h2 &__anchor,
  & h3 &__anchor,
  & h4 &__anchor,
  & h2 &__anchor:before,
  & h3 &__anchor:before,
  & h4 &__anchor:before
    transition unqufote('color') animation_duration

  & h2 &__anchor:hover,
  & h3 &__anchor:hover,
  & h4 &__anchor:hover,
  & h2 &__anchor:hover:before,
  & h3 &__anchor:hover:before,
  & h4 &__anchor:hover:before
    color hoverize(color)

  // .format_error - old code support?
  .format_error
    color var(--foregroundAccent)

  div.format_error
    border 1px solid var(--foregroundAccent)
    padding 5px


  .admin_link
    float right
    color var(--foregroundAlt)

  &__anchor
    var(--foregroundDefault)
    outline 0

  &__anchor::before
    @extend $font-link
    position absolute
    right 100%
    width 30px
    text-align left
    outline 0
    color var(--foregroundDefault)
    font-size 90%
    line-height inherit
    font-weight 400
    opacity 0
    transition opacity animation_duration

  &__anchor:hover::before
    opacity 1

  &__anchor_noicon::before
    display none
  /*
  figure
    margin 30px 0
    padding 30px
    border 3px solid #F5F2F0
    border-radius 6px
  */
  &__loud
    @extend $main-loud

  &__strong
    @extend $main-loud
    font-style italic
    color var(--foregroundAccent)

  &__footer
    @extend $clearfix
    background var(--backgroundAlt)
    margin 30px 0 27px
    padding 16px 40px 9px

    .rating
      margin-right 22px

    .social
      float right

  &__footer-date,
  &__footer-author,
  &__footer-author a
    color var(--foregroundAlt)
    font 13px 'Open Sans', Helvetica, Arial, sans-serif

  &__footer-date
    margin-right 15px

  &__footer-author
    margin-right 10px

  &__footer-star
    position absolute
    font-size 18px
    color var(--foregroundSubtle)
    margin 0 10px

  &__footer-star::before
    @extend $font-star
    display inline-block
    vertical-align middle
    min-width 17px
    min-height 19px

  .clearfix
    @extend $clearfix

  [with-zone]::after
    @extend $font-info-blank
    font-size 18px
    font-weight 400
    color var(--foregroundSubtle)
    margin-left 8px

  @media tablet
    padding 0 0 35px

    &_white-page
      margin-top 0
      padding 0 16px 24px
      max-width 100%

    &__header_center-desktop &__header-title
      text-align left

  @media phone
    &
      padding-bottom 0

    &__header
      &_jobs
        margin-top 24px

    &__header-title
      font-size 34px

    &__header_jobs &__header-title
      font-size 24px
      line-height 32px
      color text_courses_dark

    &_padding-bottom
      padding-bottom 35px

  @media (min-width: media_step_1)
    line-height line_height_s

  @media (min-width: media_step_2)
    line-height line_height_s
    font-size font_size_m

  @media (min-width: media_step_3)
    line-height line_height_l
    font-size font_size_m

  @media (min-width: largescreen)
    font-size font_size_m
    line-height line_height_l
