.pie
  position relative
  width 100%
  height 100%
  border-radius 50%
  text-align center
  color #ffffff

  &__image
    position absolute
    left 0
    top 0
    width 100%
    height 100%

  &__text
    position relative
    top 32px

  &__title
    font-size 38px
    display block
    line-height 1.35

  &__label
    font-size 13px
    display block
    padding 0 20px
    white-space normal
    line-height 17px
    color rgba(255, 255, 255, 0.4)

  &_small &
      &__text
        top 20px

      &__title
        font-size 29px
