mixin pie(data)
  - var r = 90;
  - var cx = 90;
  - var cy = 90;

  //- normal formula is:
  //- cx + r * Math.cos(2PI*percentage)
  //- the angle is calculated clockwise & starting from horizontal X-axis
  //- so we substract PI/2 to make it start 1/4-circle earlier
  - var x = cx + r * Math.cos(2 * Math.PI * data.percent - Math.PI / 2);
  - var y = cy + r * Math.sin(2 * Math.PI * data.percent - Math.PI / 2);
  - var d = "M" + x + "," + y + " A90,90 0 " + (data.percent >= 0.5 ? 0 : 1) + ",1 90,0 L90,90 z";

  +b.pie(class={
    _small: data.mod === 'small'
  })
    +e('svg').image(viewBox='0 0 180 180')
      circle(cx=90 cy=90 r=90 fill="#469269")
      path(fill="#010A05" id="statsPercentagePath" fill-opacity="0.22" d=d)

    +e.text
      +e('strong').title=data.title
      +e('span').label=data.label
