.courses-register-participants

    &__add-participants
        position relative

        display block

        width 65%
        margin 0 auto


    @media phone
        &__add-participants
            width auto
            margin 0
            padding 0 20px

