body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
dl, dd, ul, ol,
fieldset, form, legend,
th, td,
figure, figcaption
    margin 0
    padding 0

section, article, aside,
figure, figcaption,
header, hgroup, footer,
nav
    display block

a img
    border 0

ul
    list-style none

p
    margin lineheight 0

.invisible
    visibility hidden
