.search-form
    border solid #eee
    border-width 1px 0 0
    padding-top 24px

    &_fixed
        border-color #c5c5c5
        border-width 0 0 1px
        background #eee
        position fixed
        top 0
        left 0
        right 0
        padding 12px 120px
        z-index 9999
        box-shadow 0 0 3px #c5c5c5

    &_hidden
        visibility hidden

    &__content
        display table
        border-collapse collapse
        width 100%

    &_fixed &__content
        margin auto
        max-width max_width

    &__line
        display table-row

    &__query-wrap,
    &__send-wrap,
    &__status,
    &__option-wrap
        display table-cell
        vertical-align middle

    &__query-wrap
        width 100%

    &__send-wrap
        white-space nowrap

    &__query-wrap
        padding-right 20px

    &__query
        width 100%

    &__query .text-input__control
        font normal 14px/38px font
        height 38px

        padding-left 10px

    &__send
        line-height 36px

        margin 0
        min-width 140px
        padding-left 43px
        padding-right 43px


    &__footer
        padding-top 16px

    &__types
        border-bottom 1px solid #eee

    &__type
        @extend $button-reset
        font 15px font
        padding 9px 18px 12px
        margin-bottom -1px
        color link_color

    &__type[disabled]
        border 1px solid #eee
        border-bottom-color #fff
        color #727272
        border-radius 3px 3px 0 0
        cursor default

    &__status_notfound
        font 21px secondary_font
        padding-right 160px // not very reliable but alows much simpler code

    &__marked
        color #bb1000
        background none


    @media phone
        &_fixed
            display none
