.courses-register-common
    margin 35px

    & h2&__title,
    & h3&__title
        font bold 29px/33px secondary_font

        margin 0

        color secondary_color

    & h3&__title
        font-size 18px
        line-height 20px

        margin-top 22px

        color color

    &__next
        margin-top 35px


    @media phone
        &
            margin 30px 0 0 0
