.recover
    margin 41px 0

    &__title
        font 32px secondary_font
        text-align center

    &__content
        background #F7F6EA
        border-radius 4px
        padding 0 40px
        margin-top 30px

    &__controls
        display table
        width 100%
        max-width 665px
        margin auto
        padding 50px 0 45px

    &__label-wrap,
    &__input-wrap,
    &__save-wrap
        display table-cell
        white-space nowrap
        vertical-align middle

    &__label-wrap
        padding-right 15px

    &__label
        color #656565

    &__input-wrap
        width 100%
        padding-right 15px

    &__input
        width 100%
