.course-feedback
    @extend $yellow-border

    padding 50px 70px

    text-align left

    &_form
        box-sizing: border-box
        max-width 635px
        margin 30px auto 0

    &-comment-form
        &__item-cancel
            @extend $button-reset

            font size/lineheight font

            color light_link_color

        &__item-cancel:hover
            color secondary_color
            text-decoration underline

        & .textarea-input
            height 60px

        &__ok-cancel
            margin-top 10px

            & .button_action
                margin-right 20px




    h2&__title
        font-size 14px
        font-weight normal

        margin 0 0 7px 0
        padding 0

        line-height 19px

        color #666

    &__title-note
        color light_gray_color

    &__title &__checkbox
        margin-right 7px

    &__line:not(:first-child)
        margin-top 25px

    &__line_defined &__user
        position relative
        box-sizing border-box

        min-height 105px
        padding 10px 25px 10px 120px

        border-radius 4px
        background #EEE

    &__line_defined &__userpic
        top 6px
        left 15px

    &__line_defined &__country,
    &__line_defined &__occupation
        display block

        margin-top 7px

        color light_gray_color

    &__line_defined &__edit
        float right

        cursor pointer
        color light_link_color

    &__line_defined &__edit:hover
        color link_hover_color

    &__line_editable,
    &__edit-input:checked ~ &__line_defined
        display none

    &__edit-input:checked ~ &__line_editable
        display block

    &__label
        line-height 25px

    & .textarea-input
        width 100%

    & .text-input,
    & .input-select
        width 100%
        max-width 410px

    & .textarea-input
        height 110px

    &__note
        font-size 13px
        line-height 17px

        margin-top 10px

        color light_gray_color

    &_result
        position relative

        padding 20px 30px 60px 120px

    &__user
        position relative
        margin-top 15px

    &__userpic
        position absolute
        top -15px
        left -100px
        overflow hidden

        width 86px
        height 86px

        border-radius 50%

    &__userpic-img
        width 86px
        height 86px

    &__username
        margin-right 10px

    &__username-link
        font-weight bold
        color light_link_color

    &__username-link:hover
        color link_hover_color

    &__country
        white-space nowrap

    &__country-flag
        margin-right 5px

    &__country-text
        color light_gray_color

    &_form &__country-text
        white-space normal

    &__date
        float right
        color light_gray_color

    a&__date
        text-decoration none

    a&__date:hover
        text-decoration underline

    &__homepage
        display block
        margin-top 5px

    &_result .rating
        margin-top 15px

    &_result &__name
        margin-top 5px

        color #469269

    &__info
        color light_gray_color

    &__teacher
        color light_gray_color

    &_result &__edit
        font-size 12px
        display inline-block

        margin-top 20px

        color secondary_color

    &_result &__share
        position absolute
        bottom 0
        left 50%

        padding 10px

        text-align center

        background #FFF
        border-radius 10px
        border 3px solid #F2E7B3

        transform translate(-50%, 50%)

    &_result .share-icons
        white-space nowrap

    &_result .share-icons__title
        display block
        margin 0

    &_result .share-icons .share
        margin 7px 10px 0 10px

    &_not-public::after
        @extend $font-private
        position absolute
        height 30px
        width 30px
        border-radius 15px
        line-height 30px
        right -15px
        top 32px
        font-size 30px
        text-align center
        color white
        background #999

    &_external
        padding-bottom 40px
        border-color #F5F2F0

    &__teacher-comment
        position relative

        padding 10px 15px
        margin-top 15px

        color color
        border-radius 3px
        background background_blocks

        &:before
            position absolute
            top -6px
            left 30px
            z-index -1

            width 20px
            height 20px

            background background_blocks

            transform rotate(45deg)

            content: ''

    .main &__teacher-comment p
        margin 5px 0 0 0

    &__add-comment
        @extend $button-reset

        margin-left 5px

        cursor pointer
        color light_gray_color

        &:after
            @extend $font-comment

            font-size 16px
            line-height 16px


    @media tablet
        &
            border none
            margin-bottom 40px

        &_form
            padding 10px

        &__line_defined &__edit,
        &__date
            float none
            display block

        &_result &__share
            position static

            padding 0
            margin 20px 0

            text-align left

            border-radius initial
            border none

            transform none

        &_result .share-icons .share
            margin 7px 20px 0 0

    @media phone
        &_result
            padding 20px 30px 40px 90px

        &_result &__userpic
            left -95px
