+b.banner-bottom
  +e('a')(rel="nofollow" href="https://ad.doubleclick.net/ddm/jump/N366601.1915072JAVASCRIPT.RU/B9719141.132291290;sz=200x200;ord=[timestamp]?").link
    +e.logo.
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242 44.36" enable-background="new 0 0 242 44.36"><g fill="#2988B5"><path d="M79.396 38.227l-6.392-25.194h3.439l2.991 12.746c.747 3.14 1.42 6.28 1.869 8.71h.075c.411-2.504 1.195-5.494 2.055-8.746l3.365-12.71h3.401l3.066 12.784c.71 2.99 1.383 5.98 1.757 8.635h.075c.522-2.766 1.233-5.568 2.018-8.709l3.327-12.71h3.327l-7.141 25.194h-3.401l-3.177-13.119c-.785-3.216-1.308-5.683-1.644-8.225h-.076c-.449 2.505-1.009 4.973-1.943 8.225l-3.589 13.119h-3.402zM107.385 29.778c.075 4.448 2.916 6.28 6.206 6.28 2.354 0 3.774-.412 5.007-.934l.562 2.354c-1.159.523-3.141 1.122-6.018 1.122-5.569 0-8.897-3.664-8.897-9.122 0-5.455 3.215-9.756 8.485-9.756 5.907 0 7.476 5.196 7.476 8.522 0 .673-.075 1.197-.111 1.533h-12.71zm9.644-2.354c.038-2.093-.859-5.346-4.56-5.346-3.327 0-4.785 3.065-5.045 5.346h9.605zM124.128 38.227c.074-1.233.149-3.065.149-4.673v-21.867h3.252v11.364h.074c1.159-2.02 3.254-3.328 6.168-3.328 4.487 0 7.664 3.738 7.626 9.234 0 6.465-4.075 9.68-8.111 9.68-2.617 0-4.71-1.008-6.055-3.4h-.113l-.149 2.99h-2.841zm3.401-7.252c0 .411.074.822.149 1.195.637 2.281 2.542 3.851 4.934 3.851 3.44 0 5.497-2.803 5.497-6.952 0-3.626-1.871-6.728-5.384-6.728-2.242 0-4.335 1.533-5.009 4.037-.074.374-.188.822-.188 1.347v3.25zM145.465 32.358c1.532.784 3.889 1.569 6.317 1.569 2.616 0 4-1.084 4-2.729 0-1.57-1.195-2.467-4.225-3.551-4.187-1.458-6.914-3.775-6.914-7.439 0-4.298 3.587-7.588 9.53-7.588 2.842 0 4.935.599 6.431 1.271l-1.271 4.599c-1.01-.486-2.803-1.197-5.271-1.197-2.467 0-3.664 1.123-3.664 2.43 0 1.608 1.422 2.318 4.674 3.553 4.448 1.644 6.541 3.961 6.541 7.512 0 4.225-3.253 7.813-10.167 7.813-2.878 0-5.719-.748-7.141-1.532l1.16-4.711zM171.44 14.715v5.232h4.074v4.188h-4.074v6.615c0 2.205.523 3.216 2.242 3.216.71 0 1.271-.075 1.683-.149l.036 4.297c-.746.3-2.093.487-3.7.487-1.83 0-3.363-.637-4.261-1.571-1.048-1.084-1.569-2.841-1.569-5.419v-7.476h-2.431v-4.188h2.431v-3.961l5.569-1.271zM196.669 28.883c0 6.689-4.748 9.754-9.644 9.754-5.347 0-9.458-3.512-9.458-9.419s3.887-9.681 9.756-9.681c5.608 0 9.346 3.85 9.346 9.346zm-13.233.185c0 3.141 1.309 5.494 3.737 5.494 2.206 0 3.626-2.204 3.626-5.494 0-2.729-1.046-5.494-3.626-5.494-2.728 0-3.737 2.803-3.737 5.494zM200.179 25.967c0-2.691-.075-4.449-.15-6.02h4.896l.186 3.363h.149c.937-2.653 3.18-3.774 4.935-3.774.523 0 .786 0 1.197.075v5.346c-.411-.074-.898-.149-1.533-.149-2.093 0-3.515 1.12-3.887 2.878-.074.373-.113.822-.113 1.271v9.27h-5.68v-12.26zM214.379 25.778c0-2.279-.075-4.223-.15-5.831h4.785l.261 2.468h.111c.786-1.159 2.393-2.878 5.532-2.878 2.356 0 4.225 1.196 5.01 3.103h.074c.674-.934 1.495-1.684 2.356-2.206 1.009-.599 2.129-.897 3.476-.897 3.513 0 6.166 2.468 6.166 7.924v10.766h-5.531v-9.943c0-2.652-.859-4.186-2.691-4.186-1.308 0-2.242.896-2.616 1.98-.149.412-.225 1.008-.225 1.457v10.691h-5.533v-10.242c0-2.317-.82-3.887-2.614-3.887-1.458 0-2.317 1.12-2.655 2.055-.187.449-.225.973-.225 1.422v10.652h-5.53v-12.448z"/></g><path fill="#2988B5" d="M30.947 42.933c.538-.675 1.173-1.412 1.925-2.28l.375-.432c.468-.541.858-.959 1.232-1.365.744-.802 1.388-1.494 2.563-3.096 1.153-1.57 1.899-2.754 1.777-4.781-.059-1.044-.101-1.76-.781-2.6-.409-.505-1.168-1.238-1.973-2.014-.872-.84-1.629-1.64-2.656-2.709-1.028-1.066-2.356-3.792-2.356-3.792-.396-.902-1.135-2.776-1.341-4.519l-3.02-15.482h-8.602l-4.209 19.526-3.726-19.527h-10.155l9.162 44.359h8.554l4.276-19.202 3.782 19.202h3.971l1.202-1.288z"/><path fill="#F7941E" d="M48.852 2.517c.898-1.041 1.639-1.885 2.247-2.652h-13.646c-.812 1.036-2.459 3.035-3.401 4.808-1.243 2.346-2.266 4.107-2.367 8.427l.045 1.392c0 2.059 1.473 5.083 1.473 5.083.23.536 1.009 1.671 1.508 2.361h-.012l.272.358c1.47 1.685 3.696 3.567 4.678 4.776 1.148 1.418 1.179 2.748 1.241 3.783.166 2.796-.965 4.481-2.175 6.133-1.83 2.496-2.489 2.958-3.898 4.59-.898 1.04-1.638 1.883-2.247 2.646h14.097c.827-1.062 2.004-3.021 2.949-4.804 1.244-2.347 2.268-4.107 2.368-8.424l-.046-1.393c0-2.062-1.473-5.087-1.473-5.087-.23-.536-1.01-1.664-1.509-2.361h.012l-.271-.357c-1.469-1.686-3.697-3.567-4.677-4.776-1.148-1.421-1.18-2.75-1.241-3.784-.166-2.793.965-4.482 2.177-6.133 1.829-2.49 2.487-2.957 3.896-4.586z"/></svg>
    +e.slogan Умная JavaScript IDE<br>за&nbsp;разумные деньги
  +e('a')(href='#' onclick="localStorage.bannerBottomDisabled=1;this.parentNode.remove();return false").disable= t("site.hide_forever")
  img(src="https://ad.doubleclick.net/ddm/ad/N366601.1915072JAVASCRIPT.RU/B9719141.132291290;sz=200x200;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" style="width:0;height:0;opacity:0")


script
  :uglify
    (function() {
      var debug = false;

      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return;
      }

      // small screen means it's not a desktop => the user will not download webstorm
      if (screen.width < 1024) {
        return;
      }

      if (!debug && "bannerBottomDisabled" in localStorage) {
        return;
      }

      if (!localStorage.bannerBottomShownCount) {
        localStorage.bannerBottomShownCount = 1;
      }

      document.querySelector('.banner-bottom').style.display = 'block';

      /*
      // 2 -> 1.4, 1, 0.8, 0.7, 0.6, 0.5 -> lower chance to see every time
      var showProbability = Math.sqrt(3 / localStorage.bannerBottomShownCount);
      var show = debug || Math.random() < showProbability;
      if (!show) {
        return;
      }

      // show counted
      var showCounted = false;
      document.querySelector('.banner-bottom').style.display = 'block';
      countShow();

      window.addEventListener('scroll', countShow);
      function countShow() {
        if (showCounted) return;
        var coords = document.querySelector('.banner-bottom').getBoundingClientRect();
        if (coords.top < 0) return;
        if (coords.bottom > document.documentElement.clientHeight) return;
        localStorage.bannerBottomShownCount++;
        showCounted = true;
      }
                  */

    }());
