script
  :uglify
    (function() {
      window.GoogleAnalyticsObject = 'ga';
      window.ga = function() {
        window.ga.q.push(arguments);
      }
      window.ga.q = [];
      window.ga.l = Date.now();

      ga('create', GA_ID, 'auto');

      if (window.currentUser) {
        // User-Id в GA
        ga('set', '&uid', currentUser.id);
      }

      window.addEventListener('error', function(e) {
        var src = (e.filename || e.errorUrl) + ': ' + (e.lineno || e.errorLine);
        var stack = e.stack || (e.error && e.error.stack);
        ga('send', 'exception', {
          exDescription: e.message + ' ' + src + ' ' + stack,
          exFatal: true
        });
      });

    })();

script(src="//www.google-analytics.com/analytics.js" async)

