+e.login-wrap
  //- делаем логин кнопкой, так как она только раскрывает форму
  //- и никуда не ведет. Если предполагается функциональность ссылки
  //- потребуются минимальные доработки
  +e('button')(data-action-login).login
