+b.page-footer
  +e.left
    +e("ul").list
      +e("li").item ©&nbsp;2007—!{new Date().getFullYear()}&nbsp; #{t('site.ilya_kantor')}
      +e("li").item
        +e("a")(href="/about#contact-us").link= t('site.contact_us')
      +e("li").item
        +e("a")(href="/about").link= t('site.about_the_project')

      if lang == 'ru'
        +e("li").item
          +e("a")(href="/agreement").link соглашение
        +e("li").item
          +e("a")(href="http://slack.javascript.ru").slack slack-чат

      if lang == 'en'
        +e("li").item
          +e("a")(href="https://learn.javascript.ru").link RU
          = ' '
          | / EN


  +e.right
    +e("ul").list
      +e("li").item powered by
        = ' '
        +e("a")(rel="nofollow" href="http://nodejs.org").link node.js
        | &nbsp;&amp;&nbsp;
        +e("a")(rel="nofollow" href="http://github.com/iliakan/javascript-nodejs").link open source

