+b('a').share._tw(href="https://twitter.com/share?url="+encodeURIComponent(url.href))
+b('a').share._fb(href="https://www.facebook.com/sharer/sharer.php?s=100&p%5Burl%5D="+encodeURIComponent(url.href))
+b('a').share._gp(href="https://plus.google.com/share?url="+encodeURIComponent(url.href))
+b('a').share._vk(href="https://vkontakte.ru/share.php?url="+encodeURIComponent(url.href))
