extends /layouts/main

block append variables
  - let headTitle = t('error.400.title');
  - let layout_header_class = "main__header_center"

block content
  +b.error
    +e('h1').type= t('error.400.title')
    +e.code 400
    if error.errors

    +e.text
      dl
        each value, key in error.errors
          dt= key
          dd= value.message
