extends /layouts/main

block append variables
  - let headTitle = t('error.403.title')
  - let layout_header_class = "main__header_center"

block content
  +b.error
    +e('h1').type= t('error.403.title')
    +e.code 403
    +e.text
      if error.info
        != error.info
      else if user
        = t('error.403.wrong_user')
      else
        = t('error.403.login')
