extends /layouts/main

block append variables
  - let headTitle = t('error.404.title')
  - let layout_header_class = "main__header_center"

block content
  +b.error
    +e('h1').type= t('error.404.title')
    +e.code 404
    +e.text
      if error.info
        p= error.info

    p= t('error.404.use_search')

    +e.text
      +e('form').search(action="/search")
        +e.search-query-wrap
          +b('span').text-input.__search-query
            +e('input').control(type="text", name="query")
        +e.search-submit-wrap
          +b('button').button._action.__search-submit
            +e('span').text= t('error.404.search')
    +e.text= t('error.404.use_top')
