extends /layouts/main

block append variables
  - let headTitle = t('error.500.title')
  - let layout_header_class = "main__header_center"

block content
  +b.error
    +e('h1').type= t('error.500.title')
    +e.code 500

    if error.info
      +e.text
        p= error.info

    - let subject = encodeURIComponent(t('error.500.subject', {href: url.href}))
    +e.text!= t('error.500.description', { email: supportEmail, subject })
    +e.text
      +e('span').request RequestId: #{requestId}
