extends /layouts/main

block append variables
  - let headTitle = t('errors.503.title')

block content
  +b.error
    +e('h1').type= t('errors.503.title')
    +e.code 500

    if error.info
      +e.text
        p= error.info

    - let subject = encodeURIComponent(t('errors.500.subject', {href: url.href}))
    +e.text!= t('errors.500.description', { email: supportEmail, subject })
    +e.text
      +e('span').request RequestId: #{requestId}
