.tutorial-map-overlay
    position fixed
    background rgba(255,255,255,0.96)
    top 0
    right 0
    bottom 0
    left 0
    z-index 9
    // transition top animation_duration, right animation_duration, left animation_duration
    overflow auto

    &__close,
    &__close:active
        position fixed
        top 30px
        right 25px
        z-index 2

        font-size 42px
        line-height 42px

        width 42px
        height 42px

        color #fff

    &__close:before
        width 25px
        height 25px
        background light_gray_color

    & .tutorial-map
        background none
        padding-top 105px
        padding-bottom 50px

    & .tutorial-map:after
        position fixed
        bottom 0
        left 0
        right 0

        height 45px

        background linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,1) 80%)

        content ''


    & .tutorial-map__filter
        left 0
        right 0

        padding 35px 0 10px 0

    & .tutorial-map__filter-t
        padding 0 140px 0 40px
        box-sizing border-box

.tutorial-map_on
    overflow hidden

    .modal::before
        background none

    .modal .spinner__dot
        background light_gray_color

    .modal-dialog
        transform none
        // позиционирование менять не обязательно, потому что .tutorial-map-overlay
        // позиционирован как fixed, а transform убираем, чтобы position fixed
        // у .tutorial-map-overlay отсчитывался от окна
