.participants-profiles

  border 3px solid background_light
  border-radius 10px

  .main ol&__profiles
    margin 0
    padding 0

    text-align left

    list-style none

    counter-reset: profiles;

  .main li&__profile
    display flex
    align-items flex-start

    margin 0
    padding 42px 20px 20px 20px

    border-bottom 1px solid background_light

    vertical-align top

  .main li&__profile:before
    display inline-block
    font-weight bold

    color #959595

    counter-increment profiles
    content counter(profiles)

