.jetbrains-form

    &__form
        display inline-block


        min-width 350px
        padding 25px 25px 35px 25px
        margin-top 15px

        text-align left

        border-radius 3px
        background #eee

    & .text-input,
    & .input-select
        width 100%

    &__line
        margin-top 25px

    &__line:first-child
        margin-top 0

    &__line:last-child
        margin-top 30px

    &__label
        display block
        color #666


    &__note
        font-size 12px
        color #333
        margin 12px auto 0
        line-height 16px
        width 250px
