.courses-register

    & .receipts__receipt,
    & .grayed-list__item,
    & .complex-form,
    &_step_4 .receipts__edit
        display none

    &_step_1 .complex-form_step_1,
    &_step_2 .complex-form_step_2,
    &_step_3 .complex-form_step_3,
    &_step_4 .complex-form_step_4
        display block


    &_step_1 .grayed-list__item,

    &_step_2 .grayed-list__item_step_3,
    &_step_2 .grayed-list__item_step_4,

    &_step_3 .grayed-list__item_step_4
        display block


    &_step_2 .receipts__receipt_step_1,

    &_step_3 .receipts__receipt_step_1,
    &_step_3 .receipts__receipt_step_2,

    &_step_4 .receipts__receipt_step_1,
    &_step_4 .receipts__receipt_step_2,
    &_step_4 .receipts__receipt_step_3
        display block



