.social-login
    @extend $link-button
    display inline-block
    text-align left
    border-radius 4px
    min-width 130px
    font-size 16px
    line-height 30px
    padding 1px 5px 2px 0
    color #fff

    &:hover
        text-decoration none
        color #fff

    &::before
        display inline-block
        min-width 30px
        padding 0 5px
        text-align center
        font-size 20px

    &_facebook
        background: #4e7ac2

    &_facebook:hover
        background: hoverize(#4e7ac2)

    &_facebook::before
        @extend $font-facebook

    &_vkontakte
        background #4e7ac2

    &_vkontakte:hover
        background hoverize(#4e7ac2)

    &_vkontakte::before
        @extend $font-vkontakte
        font-size 18px

    &_google
        background #444547

    &_google:hover
        background hoverize(#444547)

    &_google::before
        @extend $font-google

    &_github
        background #b3b3b3

    &_github:hover
        background hoverize(#b3b3b3)

    &_github::before
        @extend $font-github

    &_yandex
        background #eeb94d

    &_yandex:hover
        background hoverize(#eeb94d)

    &_yandex::before
        @extend $font-yandex
        font-size 18px
        color #d8232a
