.receipts

    &_register
            padding 0
            margin-top 40px

            text-align left

        & &__receipt
            padding 15px 0 15px 25px

        & .course-register-info
            display block

            width auto
            margin 0
            padding 0

            background none

        & .price
            vertical-align middle

        & &__receipt-aside
            white-space nowrap
            padding-right 60px

    @media phone
        & .course-register-info
            display block

            margin-top 10px

