@media phone

    .phone-toggler
        position relative

        padding 10px 50px 10px 20px
        margin 0 -10px

        text-align left

        color link_color
        cursor pointer

        border-top 1px solid rgba(0,0,0,0.05)


        &:after
            @extend $font-open

            font-size 22px
            line-height 22px

            position absolute
            right 20px
            top 50%

            transform translateY(-50%)

        &__input
            visibility hidden
            position absolute


        &__input:checked ~ &
            display none

        &__input ~ .courses-features,
        &__input ~ .courses-masters,
        &__input ~ .courses-testimonials,
        &__input ~ .courses-tabbed-pane,
        &__input ~ .courses-guarantee,
        &__input ~ .courses-professionals,
        &__input ~ .courses-faq,
        &__input ~ .fixed-tab,
        &__input ~ .courses-parts,
        &__input ~ .courses-how,
        &__input ~ .courses-result,
        &__input ~ .courses-system-req
            display none

        &__input:checked ~ .courses-features,
        &__input:checked ~ .courses-masters,
        &__input:checked ~ .courses-testimonials,
        &__input:checked ~ .courses-tabbed-pane,
        &__input:checked ~ .courses-guarantee,
        &__input:checked ~ .courses-professionals,
        &__input:checked ~ .courses-faq,
        &__input:checked ~ .fixed-tab,
        &__input:checked ~ .courses-parts,
        &__input:checked ~ .courses-how,
        &__input:checked ~ .courses-result,
        &__input:checked ~ .courses-system-req

            display block
