.banner-bottom
    position: relative;
    display none
    border 1px solid #cfcfcf;
    margin-top 40px

    &__link
        display flex
        flex-wrap wrap
        justify-content space-around
        align-items center


        text-decoration none !important

    &__logo,
    &__slogan
        margin 20px 0

    &__logo
        width: 411px;
        height: 75px

    &__slogan
        font: 500 30px/31px "Open Sans", sans-serif;

        color: #2788b5;

        text-align: center;


    &__slogan strong
        display: block

    &__disable
        font-size 12px

        position absolute
        top -20px
        right 0

        color #93918f
