.faq-cite

    margin-bottom 30px

    &__list dl
        margin 0

    @media (max-width: 1250px)
        &__list
            margin auto !important

    @media tablet
        &__list
            padding-left 10px
            padding-right 10px

