.quiz-start

    &__pane
        padding 40px

        border 3px solid #eee
        border-radius 10px

    // tag to override .main p
    p&__description
        margin-top 0
        margin-bottom 32px
        color light_gray_color

    &__pane p
        margin 0
        margin-top 20px

    & .button_action
        font-size 18px

        line-height 47px

        padding 1px 40px

    & .button_action:active,
    & .button_action:focus
        padding 0px 39px

