.participants-logos

    &__slider
        position relative

        margin 40px 0 40px 0

        padding 0 50px


    &__slider-i
        position relative
        box-sizing border-box
        overflow hidden

        width 100%

    &__slider-i:before,
    &__slider-i:after
        position absolute
        top 0
        z-index 1

        height 100%
        width 25px

        background red

        content ''

    &__slider-i:before
        left 0

        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

    &__slider-i:after
        right 0
        background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

    &__arr
        position absolute
        top 50%

        font-size 50px
        line-height 28px
        font-style normal

        width 29px
        height 29px
        margin-top -14px

        cursor pointer
        color #ccc

    &__arr:hover
        color color

    &__arr_left
        left 0

    &__arr_right
        right 0

    &__arr_left:after
        @extend $font-angle-left

        position absolute
        left 0
        top 0

    &__arr_right:after
        @extend $font-angle-right

        position absolute
        right 0
        top 0

    &__slider_disable_left &__arr_left,
    &__slider_disable_left &__slider-i:before,
    &__slider_disable_right &__arr_right,
    &__slider_disable_right &__slider-i:before
        display none

    .main ul&__list,
    .main li&__item
        margin 0
        padding 0
        list-style none

    .main li&__item:before
        content: ''
        display none

    .main ul&__list
        margin-top 10px

        white-space nowrap

        transition transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)

    .main li&__item
        display inline-block
        box-sizing border-box

        margin 0 25px

        text-align center
        vertical-align middle

    &__logo
        opacity 0.75

        transition opacity 0.3s

    &__item:hover &__logo
        opacity 1



