.pay-method
    max-width 615px
    margin 0 auto

    text-align left

    & ul&__methods,
    & li&__method,
    & h3&__method-title,
    & h4&__method-subtitle
        margin 0
        padding 0

    & li&__method:before
        display none
        content: ''

    &__method
        position relative
        border-bottom 2px solid #fff

    &__method-label
        position relative

        display block
        min-height 47px
        padding 15px 30px 15px 50px

        white-space nowrap

        cursor pointer
        background background_blocks

        transition background-color 0.2s

    &__method-label:after
        display inline-block
        position relative
        height 47px

        vertical-align middle

        content: ''

    & &__default-currency
        padding 0 50px 10px

    &__logo
        vertical-align middle

    & h3&__method-title
        font bold 20px/normal secondary_font

        display inline-block
        margin-right 20px

        vertical-align baseline

        color #555

    &__cards
        margin-right 15px

        white-space nowrap

    &__card
        vertical-align middle
        margin-right 5px

    & h4&__method-subtitle
        font-size 14px
        line-height 16px
        font-weight normal

        display inline-block

        color #555

    &__method-radio
        position absolute
        z-index 1
        left 16px
        top 29px

        width 16px
        height 16px

    &__header
        display inline-block

        white-space normal
        vertical-align middle

    &__method-radio:checked ~ &__method-label
        background #f9edbf

    &__method-radio:checked ~ .payment-setting
        display block

    @media phone
        &__method-label,
        & .payment-setting
            margin-left -10px
            margin-right -10px

        &__cards
            margin 0 20px 0 0

        & h3&__method-title
            display block

        & h4&__method-subtitle
            margin 0
