.feedback-policy
    position relative

    margin-top 5px

    text-align right

    &__link
        font-size 13px

        display inline-block

        cursor pointer

        color light_gray_color

    &__link:hover
        color secondary_color

    &__link:after
        @extend $font-info

        margin-left 5px

    &__popup
        position absolute
        left -4px
        right -4px
        z-index 99

        display none
        box-sizing border-box

        padding-top 20px

        text-align left

    &__link:hover &__popup
        display block

        color color

    .main ul&__list
        margin 0
        padding 20px 20px 20px 50px

    &__list
        position relative

        background background_blocks
        border-radius 4px
        box-shadow 0 2px 3px rgba(0,0,0,0.3)

    &__list:before
        position absolute
        top -6px
        right 66px

        width 20px
        height 20px
        margin-left -10px

        background background_blocks

        transform rotate(45deg)

        content: ''

    html:not(.working-hover) &
        margin-top 20px

        text-align left

        &__link
            font-size 18px

            display block

        &__popup
            position static

            font-size size

            display block

            padding-top 0
            margin-top 10px

        &__list:before,
        &__link:after
            display none



