.quiz-percents
    & dt
        font-weight normal

    &__result &__percents
        font-size 48px
        font-weight bold
        line-height initial

    &__position
        margin-top 10px

    &__position &__percents
        font-size 32px
        font-weight bold
        line-height initial
