.course-search
    background #eee
    border-radius 4px
    padding 30px 40px 40px

    &__form
        display table
        width 100%

    &__input-wrap
        display table-cell
        vertical-align middle

    &__input-wrap_text
        width 100%

    &__query
        width 100%

    &__query .text-input__control
        font normal 14px/38px font
        height 38px

        padding-top 0
        padding-bottom 0
        padding-left 10px

    &__input-wrap_submit
        padding-left 25px

    &__input-wrap_submit .button_action
        line-height 36px

        min-width 140px
        padding-left 43px
        padding-right 43px

    @media tablet
        &
            padding 10px 15px 15px

    @media (max-width: 690px)
        &
            display none
