.summary
    background background_blocks
    margin round(lineheight*.65) 0
    border 1px solid separator_color

    &__content
        margin 22px

    &_noborder
        border 0
        padding 1px 0
        border-radius 4px

    @media print
        page-break-inside: avoid;
