.tutorial-map
    margin 20px 20px 0 20px
    padding 70px 40px 0 40px
    background white
    // for focused state
    outline none

    &__filter
        position fixed
        top 0
        left 50px
        right 50px
        z-index 1

        background #fff

        padding 20px 10px

    &__filter-t
        display table
        width 100%

    // we MUST repeat theese rules for each selector to make it work
    &__filter .text-input__control::-webkit-input-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5
        padding-top 2px

    &__filter .text-input__control::-moz-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5

    &__filter .text-input__control:-ms-input-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5

    &__filter .text-input__control
        font size/16px font

    &__filter.sticky .text-input__control
        border-top-right-radius 0px
        border-top-left-radius 0px

    &__filter.sticky .switch__label
        border-top-right-radius 0px
        border-top-left-radius 0px

    &__input-wrap,
    &__option,
    &__layout
        display table-cell
        vertical-align middle

    &__input-wrap
        width 100%

    &__option
        white-space nowrap
        padding 0 25px 0 40px

    &__option-control
        position absolute
        top 50%
        right 100%
        margin 0
        transform translateY(-50%) scale(1.25)
        transform-origin 100% 100%
        // if we set bigger value we get even more blurry or corrupted checkboxes
        // the only easy way to make it bigger that I found

    &__option-label
        color #7E7E7E
        position relative

    &__option-label
        padding-left 11px

    &__singlecol,
    &__multicol
        width 33px
        line-height 32px

    &__singlecol::after
        @extend $font-single-col

    &__multicol::after
        @extend $font-multi-col

    &__input
        width 100%
        position relative

    & &__col-title
        font 18px secondary_font
        line-height 1.3
        margin 0 0 27px 0
        padding 0

    // Заимствуем фрагмент стилей из .main
    // чтобы можно было использовать вне контекста .main
    // TODO: избавиться от копи-паста
    ul,
    ol
        padding-left 21px
        margin 22px 0 // уравниваем с абзацными отступами

        > li
            margin: .3em 0

    & &__col-title,
    & &__items
        padding-right 25px

    & &__items
        margin-top 27px
        padding-left 10px

    & &__item
        font-weight 700
        margin-top 22px

    &__item > &__link
        position relative
        padding-left 5px
        margin-left -5px

    &__item > &__link::before
        @extend $font-open
        position absolute
        height 14px
        width 16px
        text-align center
        line-height 14px
        padding 2px 0 0
        color link_color
        font-size 16px
        right 100%

    &__item &__link_active
        color secondary_color

    &__item_collapsed > &__link::before
        transform rotate(-90deg)

    &__item_collapsed &__sub-items
        display none

    & &__sub-items
        margin-top 10px
        padding-left 15px

    & &__sub-item
        font-weight 400
        font-size 13px
        margin 5px 0

    & &__sub-item::before
        content "•"
        color #bbb
        font-size 25px
        position absolute
        margin 0 0 0 -15px

    & &__sub-sub-items
        display none
        padding 0 0 0 15px
        margin 0

    & &__sub-sub-item
        margin 3px 0

    & &__sub-sub-item::before
        position absolute
        content "✓"
        color #66ba7a
        font-size inherit
        margin 0 0 0 -14px

    &__note
        font-size 85%
        color #656565

    &_singlecol &__section.columns__col // усиливаем селектор классом columns__col из-за псевдокласса в блоке columns
            display block
            width auto

    @media tablet
        margin 0 20px 20px

        &__input
            margin-top 12px

        &__option-control
            margin-left 0

        &__filter,
        &__input-wrap,
        &__option
            display block

        .modal &__input-wrap
            width calc(100% - 50px)

        &__option
            padding 10px 0 0 16px

        &__layout
            display none

        &__section:not(:first-child)
            margin-top 30px

        & &__section.columns__col // усиливаем селектор классом columns__col из-за псевдокласса в блоке columns
            display block
            width auto

        & &__col-title
            margin-bottom 15px

        & &__items,
        & &__item
            margin-top 25px



    &_show-tasks &__sub-sub-items
        display block


/*
.tutorial-map_show-tasks
    .tutorial-map__sub-sub-items
        display block
*/
