.courses-testimonials

    &__wrapper
        position relative

    &__body
        box-sizing border-box
        overflow hidden
        position relative

        margin 0 90px

    .main ul&__testimonials
        display flex

        position relative

        margin 0
        padding 0

        transition transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)

    .main li&__testimonial
        flex 1 0 100%

        display table
        width 100%
        min-height 200px

        margin 0
        padding 0

    .main li&__testimonial:before
        display none
        content ''

    &__main,
    &__user
        display table-cell

        vertical-align top

    &__main
        padding 20px 40px 30px 30px

        background #F6F4EB

    &__main .rating
        text-align center

    &__user
        width .1%
        min-width 165px
        padding 20px 0

        text-align center

        background #EDE9D8

    &__userpic
        position relative
        overflow hidden

    &__userpic:before
        position absolute
        left -42px
        top 40px

        width 45px
        height 45px

        background #F6F4EB

        transform rotate(134deg) skew(21deg, 21deg)

        content: ''

    &__userpic-img
        display block

        width 86px
        height 86px

        margin 0 auto

    &__username,
    &__country
        margin-top 5px
        padding 0 20px

    &__username
        font-weight bold

        line-height initial

    &__username-link
        color light_link_color

    &__country
        white-space nowrap

        color light_gray_color

    &__country-flag,
    &__country-text
        vertical-align middle

    &__country-flag
        width 20px
        margin-right 7px

        box-shadow 0 0 1px rgba(0,0,0,0.5)

    .main p&__testimonial-text
        margin 10px 0 0 0
        padding 0

        line-height initial

    &__cut
        color link_color;

        cursor pointer
        text-decoration underline

    &__cut:hover
        color link_hover_color

    &__cuted
        display none

    &__all
        position absolute
        right 90px
        top -25px

        color light_link_color

    &__arr
        position absolute
        top 65px
        overflow hidden

        width 34px
        height 66px

        cursor pointer

    &__arr:after
        position absolute
        top 9px

        width 48px
        height 48px

        background #EDE9D8

        content ''
        transform rotate(45deg)

    &__arr_prev
        left 10px

    &__arr_next
        right 10px

    &__arr_prev:after
        left 10px

    &__arr_next:after
        left -24px

    @media tablet
        &
            margin 0 -10px

        &__body
            margin 0 50px

        &__arr_prev
            left 0

        &__arr_next
            right 10

    @media phone
        &__body
            margin 0

        &__wrapper
            padding-top 20px

        .main li&__testimonial
            display flex
            flex-direction column

        &__main,
        &__user
            display block

        &__main
            flex-grow 1

        &__user
            width auto
            padding-top 0

        &__userpic
            padding-top 30px

        &__userpic:before
            position absolute
            left 50%
            top -37px

            margin-left -20px

            transform rotate(45deg) skew(5deg, 5deg)

        &__arr
            top auto
            bottom 95px
            z-index 1

            width 17px
            height 33px

        &__arr_prev
            left 50%
            margin-left -100px

        &__arr_next
            right 50%
            margin-right -100px

        &__arr:after
            top 5px

            width 24px
            height 24px

            background #CFCBB7

        &__arr_prev:after
            left 4px

        &__arr_next:after
            left -12px

        &__all
            top 0
            left auto
            right 10px

