.section
    display block
    border-radius 10px
    padding-top 20px
    padding-bottom 40px

    &__content
      max-width 85%
      margin 0 auto

    & &__title
        margin-top 0

    &_color_gray
        background background_light

    &_color_yellow
        background #F6F4EB

    &_color_green
        background #E7F3EC

    &_color_red
        background rgba(color_red, 0.1)
