//- From bemto.jade, copyright(c) 2012 Roman Komarov <kizu@kizu.ru>
//- MIT Licensed

//- Some global variables
-
  if (!bem_chain) bem_chain = [];

//- Block
mixin b(tag, isElement, noBlockClass)
  - bem.call(this, buf, bem_chain, tag, isElement, noBlockClass)

//- Context (For partials, doesn't add block class to the element)
mixin c(tag)
  +b(tag, false, true)&attributes(attributes): block

//- Element
mixin e(tag)
  +b(tag, true)&attributes(attributes): block
