extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"

block content
  +b(class=["notification", "_message", "_" + message.type])
    +e.content!= message.html
