.course-add-participants
    position absolute
    z-index -1

    width 100%

    text-align center

    pointer-events none

    opacity 0

    transition margin-top 0.2s, opacity 0.2s

    &_visible
        position static
        z-index initial

        margin-top 10px

        pointer-events auto

        opacity 1

    .main & ul,
    .main & p,
    .main & li
        margin 0
        padding 0

    & li:before
        display none
        content: ''

    &__checkbox
        position absolute
        visibility hidden

    &__add,
    &__note
        font-size 12px

    &__add
        cursor pointer
        color link_color
        border-bottom 1px dashed

    &__add:hover
        color link_hover_color

    &__note
        color #9f9f9f

    &__dropdown
        display none

        position relative

        margin-top 20px
        padding 5px 15px 25px 15px

        text-align left
        counter-reset participants

        border-radius 6px
        border 2px solid #e7e5e3
        background background_blocks

        &:before
            position absolute
            top -13px
            left 50%

            width 20px
            height 20px
            margin-left -10px

            background background_blocks
            border-left: 2px solid #e7e5e3
            border-top: 2px solid #e7e5e3

            transform rotate(45deg)

            content: ''

    &__checkbox:checked ~ &__dropdown
        display block

    &__dropdown-close
        position absolute
        top -19px
        right -17px


.course-add-participants-item
    display inline-block
    box-sizing border-box

    width 50%
    padding 20px 10px 0 10px !important

    & .text-input
        width 100%
        margin-top 5px

    & .text-input__err
        position absolute

        line-height 13px

        padding-top 0

    &__participant
        font-size 13px

    &__participant-n:after
        counter-increment participants
        content " " counter(participants)":"


    @media phone
        &
            display block
            width 100%

