.courses-materials
    text-align left
    counter-reset lines

    .main table&__table td,
    .main table&__table th
        font-size 14px

        line-height initial

        padding-top 10px
        padding-bottom 10px

    .main table&__table tr&__line:last-child
        border none

    .main p&__note
        margin 5px 0 0 0
        color light_gray_color

    .main td&__num
        padding-left 10px
        vertical-align top

    td&__num:after
        counter-increment lines
        content counter(lines)

    &__link:link
        text-decoration underline

    &__video-key
        text-align center

    &__video-key span
        font-weight bold
        color secondary_color

    &__delete-action
        @extend $button-reset

        opacity 0
        transition opacity 0.4s

    &__delete-action:after
        @extend $font-trash
        font-size 16px
        color #737373

    &__line:hover &__delete-action
        opacity 1


    &__chat-list-item
        text-align left
