.course-feedbacks
    margin-top 50px

    &__head
        display flex
        align-items center

        margin-bottom 20px

    &__select
        flex-grow 1

        margin-left 20px

        text-align left

    &__select .input-select
        width 100%

    .main h2&__title
        margin 0

    &__title
        text-align left

    &__title-n
        color secondary_color

    &__title-t
        margin-left 6px

    &__feedback
        margin-bottom 20px

    &__loader
        display none

        text-align center

    &_loading &__loader
        display block
