.payment-currency-form
    width 412px
    padding 21px 30px 40px 30px // +1px в падинге фиксит blur у tranlate элемента

    box-sizing border-box

    background #fff

    &__title
        font bold 28px/28px secondary_font

        white-space nowrap

    &__line
        margin-top 20px

    &__line_submit
        margin-top 30px

    & .input-select
        width 155px

    &__note
        font-size 13px

    & .button_action
        margin-right 30px

    & a&__close-link
        display inline-block
