mixin main-en-banner(data)
  - data = data || {};

  +b.main-en-banner
    +e.inner
      +e.texts
        +e('h1').title
          =data.title

        for text in data.text
          +e('p').text(class=(text[1] ? 'no-mobile' : ''))
            != text[0]
      +e.list
        +e('a')(href="https://github.com/iliakan/javascript-tutorial-en").github view on Github
        +e('span').subscribe learn about major updates
        //include ../main-en-share/index
      +e.content
        block
      +e.sub
        +e('h2').subtitle=data.subtitle
        +e('p').text=data.description