.book-navigation
  .page-links.clearfix
    if prev
      .book-navigation__prev
        | Предыдущий урок
        kbd
          | (Ctrl&nbsp;+&nbsp;
          span.book-navigation__arr ←
          | )
        a.page-previous(href=prev.url,title="На предыдущую страницу") #{prev.title}
    if next
    .book-navigation__next
      | Следующий урок
      kbd
        | (Ctrl&nbsp;+&nbsp;
        span.book-navigation__arr →
        | )
        a.page-next(href=next.url,title="На следующую страницу") #{next.title}
