.main__lesson-nav
  if prev
    .main__lesson-nav-prev
      kbd
        | (Ctrl&nbsp;+&nbsp;
        span.main__lesson-nav-arr ←
        | )
      a.main__lesson-nav-link(href=prev.url) Предыдущий урок
  if next
    .main__lesson-nav-next
      a.main__lesson-nav-link(href=next.url) Следующий урок
      kbd
        | (Ctrl&nbsp;+&nbsp;
        span.main__lesson-nav-arr →
        | )
