+b(class=["quiz-question", quizResult && (question.correct ? "_correct_true" : "_correct_false")])
  input(type="hidden" name="type" value=question.type)
  +e.body
    != markit(question.content)

    if question.type == 'single'
      +e("ul").variants
        each answer, num in question.answers
          - var variantCorrect = (num == question.correctAnswer);
          - var variantSelected = question.userAnswer !== undefined && (question.userAnswer == num);
          +e("li")(class=[
            "variant",
            variantSelected && "_selected" || undefined,
            quizResult && variantCorrect && "_correct_true" || undefined,
            quizResult && variantSelected && !variantCorrect && "_correct_false" || undefined
          ])
            +e("label").label
              +e("input").input(type="radio" value=num name=(!quizResult && "answer") disabled=!!quizResult checked=(variantSelected ? "checked" : undefined))
              +e("span").input-text!= markitInline(answer.title)
            if answer.description
              +e.description!= markit(answer.description)


    if question.type == 'multi'
      +e("ul").variants
        each answer, num in question.answers
          - var variantCorrect = ~question.correctAnswer.indexOf(num);
          - var variantSelected = question.userAnswer !== undefined && ~question.userAnswer.indexOf(num);
          +e("li")(class=[
            "variant",
            variantSelected && "_selected" || undefined,
            quizResult && variantCorrect && "_correct_true" || undefined,
            quizResult && variantSelected && !variantCorrect && "_correct_false" || undefined
          ])
            +e("label").label
              +e("input").input(type="checkbox" value=num name=(!quizResult && "answer") disabled=!!quizResult checked=(variantSelected ? "checked" : undefined))
              +e("span").input-text!= markitInline(answer.title)
            if answer.description
              +e.description!= markit(answer.description)


  if !quizResult
    +e.submit
      +b("button").button._action(type="submit" disabled)
        +e("span").text Продолжить

