+b.quiz-explanations
  +e("h4").title Пояснения:
  +e("ul")
    +e('li') Тесты предполагают современные браузеры.
    +e('li') Все настройки браузера &mdash; по умолчанию.
    +e('li') Версия Javascript &mdash; самая распространенная на текущий день, т.е ES5.
    +e('li') Везде <code>"use strict"</code>.