.switch
    display inline-table

    &__option
        display table-cell
        position relative
        overflow hidden

    &__control
        position absolute
        top -99px

    &__label
        display inline-block
        color #8B8987
        border solid #E2E2E2
        border-width 1px 0 1px 1px
        text-align center
        cursor pointer

    &__option:first-child &__label
        border-radius 4px 0 0 4px

    &__option:last-child &__label
        border-width 1px
        border-radius 0 4px 4px 0

    &__control:checked + &__label
        color #fff
        background #8B8987
        border-color #8B8987

