extends /layouts/main

block append head
  !=css("quiz")

block append head
  !=js("quiz", {defer: true})

block append variables

  - var layout_header_class = "main__header_center"
  - var breadcrumbs = [{ title: 'Учебник', url: '/' }, { title: 'Тесты', url: '/quiz' }]
  - var content_class = 'content_center'
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"

block content
  include blocks/quiz
