desktop_short = '(max-width: 1135px)'
tablet_wide = '(max-width: 1090px)'

ul.courses-feedback-slides
  margin 0
  padding 0

.courses-feedback-slides
  display flex
  align-content stretch
  white-space nowrap
  transform translate3d(0,0,0)
  will-change transform
  transition transform .5s ease

  ul > li&__feedback
    margin 0

  &__feedback
    background-color background_yellow_dark
    width 100%
    display inline-block
    vertical-align top
    white-space normal
    text-align left
    flex-shrink 0

    &:before
      display none

  &__feedback-inner
    height 220px
    display flex
    justify-content space-between
    flex-wrap wrap

    &_all
      background-color background_yellow_light

    @media desktop_short
      height 250px

    @media tablet_wide
      height 300px

    @media tablet_medium
      height 315px

    @media tablet
      height 100%
      flex-direction column
      flex-wrap nowrap

  &__review
    background-color background_yellow_light
    width 79%
    padding 21px 33px
    box-sizing border-box
    position relative

    &:after
      position absolute
      content ''
      margin auto
      top 0
      bottom 0
      right -21px
      height 0
      width 0
      border-top 13px solid transparent
      border-bottom 13px solid transparent
      border-left 21px solid background_yellow_light

    @media tablet_medium
      width 75%
      padding 21px 27px

    @media tablet
      flex-grow 1
      width 100%

      &:after
        right 0
        left 0
        bottom -18px
        top auto
        border-bottom none
        border-top 18px solid background_yellow_light
        border-left 10px solid transparent
        border-right 10px solid transparent

  h3&__title
    display inline-block
    color gray_color
    font-size 16px
    line-height 22px
    font-weight bold
    margin 0 10px 0 0

    &_all
      width 100%
      text-align center
      padding-top 20px
      margin 0

  ul&__rating
    display inline-block
    vertical-align top
    margin-top 1px
    margin-right 15px

  &__userpic
    width 86px
    height 86px
    border-radius 50%

  &__content
    margin-top 18px
    line-height 19px

    p
      font-size 14px
      margin 0

    p:last-of-type
      display inline

  &__more
    font-size 14px
    display inline-block

  &__open-feedback
    display inline-block
    font-family font
    font-size 14px
    position relative

    &:after
      position absolute
      right -17px
      top 1px
      font-size 11px
      @extend $font-external

  &__address
    color light_gray_color
    font-size 14px
    line-height 18px
    padding 0 20px
    max-width 100%

  &__address-line
    display block
    padding 0 20px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  &__author
    width 21%
    box-sizing border-box
    text-align center
    padding 10px 0
    display flex
    justify-content center
    align-items center
    position relative

    @media tablet_medium
      width 25%

    @media tablet
      width 100%
      display block
      padding-top 30px
      padding-bottom 21px

  &__author-inner
    display flex
    flex-direction column
    align-items center
    max-width 100%

  &__author-link
    display block

  p&__name
    margin 3px 0 10px
    padding 0 20px
    display block
    font-size 14px
    line-height 19px
    font-weight bold
