.task-single
    margin 22px 0

    &__back
        font-size 14px

    &__back span,
    &__back:hover
        text-decoration none

    &__back:hover span
        text-decoration underline

    &__back::before
        content: '← '

    &__task
        border-top 1px solid #eee
        margin-top 17px

    &__task .task__header
        margin-top 24px

    &__task .task__title-wrap
        padding 0

    &__task .task__header-note
        margin-top 14px

    &__task .task__solution::after
        margin-top 6px

    // TODO: после установки отступов в 22px по умолчанию
    // удалить лишнее
    &__task .task__content,
    &__task .task__content p,
    &__task .task__content ul,
    &__task .task__content ol,
    &__task .task__content figure,
    &__task .task__content .code-example,
    &__task .task__content .codebox,
    &__task .task__content .code-tabs
        margin 22px 0

    &__task .task__content .code-example .codebox
        margin 0
