.course-form
    padding 35px

    border-radius 4px
    border 3px solid #eee
    background #FBFAFA

    & &__title
        margin 0

    & &__title_recruitment
        font-size 14px

        color secondary_color

    & &__text
        font-size 14px

    &__more
        color light_link_color

    & .courses-recruitment
        margin-top 10px

        background none

    & .courses-recruitment__list
        display flex

    .main & li.courses-recruitment__course
        margin 0 4px

        background #FFF
        border 1px solid #f7f6ea

    .main & li.courses-recruitment__course:first-child
        margin-left 0

    .main & li.courses-recruitment__course:last-child
        margin-right 0

    .main & li.courses-recruitment__course:only-child
        width 50%
        margin 0

    & .courses-recruitment__info,
    & .courses-recruitment__apply
        border none

    &__form
        width 50%
        box-sizing border-box
        padding-right 15px

    @media tablet
        &__form .button,
        & .text-input
            width 100%
            margin-top 10px

        & .courses-recruitment__list
            display block

        .main & li.courses-recruitment__course
            margin 0 !important
            width auto !important
