.special-links-list,
.main .special-links-list
    padding 0

.special-links-list .special-links-list__item
    font 400 16px font
    margin .2em 0

.special-links-list__item::before
    content ""
    display none

.special-links-list .special-links-list__link
    color alternate_link_color

.special-links-list .special-links-list__link:hover
    color link_hover_color
