.donate
  max-width 780px
  margin auto

  &__currency
    width 83px
    margin-left 10px
    padding 10px 4px 10px 10px
    vertical-align middle
  &__value
    padding 10px 4px
    height 38px
    vertical-align middle
  &__email
    padding 10px 4px
    height 38px
    vertical-align middle
  &__title
    font-size 12px
  &__description
    max-width 500px
    margin 20px auto 40px
    font-size 14px
    line-height 19px
    color #20252B
    font-family 'Open Sans', Helvetica, Arial, sans-serif
