pre[class*="language-"],
pre[class*="language-"] > code,
    color #d4d4d4
    // text-shadow 0 1px white
    font-family fixed_width_font
    direction ltr
    text-align left
    white-space pre
    word-spacing normal
    tab-size 4
    hyphens none

/*
In epub all code selected? because Calibre applies this style wrong?
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection
    text-shadow none
    background #b3d4fc

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection
    text-shadow none
    background #b3d4fc
*/

@media print
    pre[class*="language-"],
    pre[class*="language-"] > code
        text-shadow: none


/* Code blocks */
pre[class*="language-"]
    padding 0
    margin 1.5em 0
    overflow auto
    background #f7f4f3

    if isRTL
        code
            unicode-bidi normal
            direction unset

/* Inline code */
code[class*="language-"]
    padding .1em
    border-radius .3em
    color #313130
    background #f7f4f3

.namespace
  opacity .7

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata
    color slategray

.token.punctuation
    color light_gray_color

.token.punctuation,
.token.function,
.token.comment,
.token.string,
.token.operator,
.token.number
    if isRTL
            background inherit

.namespace
    opacity .7

.token.property,
.token.tag,
.token.boolean,
.token.number
    color #905

.token.selector,
.token.attr-name,
.token.string
    color #690

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string
    color #a67f59
    /* background: hsla(0,0%,100%,.5); */

.token.atrule,
.token.attr-value,
.token.keyword
    color #07a


.token.regex,
.token.important
    color #e90

.token.important
    font-weight bold

.token.entity
    cursor help

/*********************************************************
* Line highlighting
*/
pre[class*="language-"] > code[class*="language-"]
  position relative
  z-index 1

.line-highlight.line-highlight
  background var(--backgroundPrismLineHighlight)
  z-index 0