/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
pre[class*="language-"],
pre[class*="language-"] > code,
    color #d4d4d4
    // text-shadow 0 1px white
    font-family fixed_width_font
    direction ltr
    text-align left
    white-space pre
    word-spacing normal
    tab-size 4
    hyphens none
    // position relative

/*
In epub all code selected? because Calibre applies this style wrong?
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection
    text-shadow none
    background #b3d4fc

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection
    text-shadow none
    background #b3d4fc
*/

@media print
    pre[class*="language-"],
    pre[class*="language-"] > code
        text-shadow: none

/* Code blocks */
pre[class*="language-"]
    padding 0
    margin 1.5em 0
    overflow auto
    background var(--prismBlockBg)

/* Inline code */
code[class*="language-"]
    padding .1em
    border-radius .3em
    color var(--prismColor)
    background var(--prismBlockBg)

/*********************************************************
* Tokens
*/
.namespace
	opacity .7

.token.comment,
.token.prolog
	color var(--prismTokenComment)

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation
	color var(--prismTokenPunctuation)

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit
	color var(--prismTokenSymbols)

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted
	color var(--prismTokenSymbolsAlt)

.token.operator,
.token.entity
	color var(--prismTokenOperator)

.token.atrule
	color var(--prismTokenAtRule)

.token.atrule .token.url .token.function
	color #dcdcaa // --prismTokenFunction

.token.atrule .token.url .token.punctuation
	color #d4d4d4 // --prismTokenUrlPunctuation

.token.atrule .token.rule,
.token.keyword.module,
.token.keyword.control-flow
	color var(--prismTokenKeywordControl)

.token.function,
.token.function .token.maybe-class-name
	color var(--prismTokenFunctionAndClassname)

.token.regex
	color var(--prismTokenRegex)

.token.class-name,
.token.maybe-class-name
	color var(--prismTokenClassname)

.token.property,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name,
.token.attr-name,
.token.parameter,
.token.console,
.token.interpolation,
.token.atrule .token.url,
.token.doctype .token.name
	color var(--prismTokenInterpolation) // --prismTokenLightBlueGroup

.token.constant
	color var(--prismTokenConstant)

.token.variable
	color var(--prismTokenVariable)

.token.entity
.token.boolean,
.token.punctuation.interpolation-punctuation,
.token.operator.arrow,
.token.doctype .token.doctype-tag
	color var(--prismTokenInterpolation) // --prismTokenBlueGroup

.token.error
	color var(--prismTokenError)

.token.keyword
	color var(--prismTokenKeyword)

.token.important,
.token.punctuation.interpolation-punctuation
	color var(--prismTokenImportant)

.token.selector,
.token.escape
	color #d7ba7d // --prismTokenEscapeAndSelector

.token.tag .token.punctuation,
	color var(--prismTokenTagPunctuation)

.token.cdata
	color var(--prismTokenCdata)

.token.attr-value,
.token.attr-value .token.punctuation
	color var(--prismTokenAttrvalue)

.token.attr-value .token.punctuation.attr-equals
	color #d4d4d4 // --prismTokenAttvalueEquals

.token.namespace
	color #4ec9b0 // --prismTokenNamespace

.token.important,
.token.bold
    font-weight bold

.token.italic
    font-style italic

.token.entity
    cursor help

/*********************************************************
* Line highlighting
*/
pre[class*="language-"] > code[class*="language-"]
	position relative
	z-index 1

.line-highlight.line-highlight
	background var(--backgroundPrismLineHighlight)
	z-index 0