.main /* Used this parent class to be able to overwrite some generic rules from main.styl */

  .inline-highlight
    font-family fixed_width_font
    display inline-block
    pointer-events none
    line-height inherit
    white-space pre
    font-style normal
    background #F5E7C6 !important

  .block-highlight
    font-family fixed_width_font
    display inline-block
    width 100%

    pointer-events none

    line-height inherit
    white-space pre

    background #F5E7C6

    font-style normal

