.main /* Used this parent class to be able to overwrite some generic rules from main.styl */

  .inline-highlight
    font-family fixed_width_font
    display inline-block
    pointer-events none
    line-height inherit
    white-space pre
    font-style normal
    background var(--backgroundPrismLineHighlight) !important

  .block-highlight
    font-family fixed_width_font
    display inline-block
    width 100%

    pointer-events none

    line-height inherit
    white-space pre

    background var(--backgroundPrismLineHighlight)

    font-style normal

// no need for padding out line numbers for epub (no line numbers)
.page_ebook
  .block-highlight_inline
    padding-left 10px

