pre.line-numbers
  position relative
                if isRTL
                    padding-right 3.8em
                else
                    padding-left 3.8em
  counter-reset linenumber

.line-numbers .line-numbers-rows
  position absolute
  pointer-events none
  top 0
  font-size 100%
  left -3.8em
  width 3em /* works for line-numbers below 1000 lines */
  letter-spacing -1px
  border-right 1px solid light_gray_color
  user-select none

.line-numbers-rows > span
  pointer-events none
  display block
  counter-increment linenumber

.line-numbers-rows > span:before
  content counter(linenumber)
  color light_gray_color
  display block
  padding-right 0.8em
  text-align right
