pre.line-numbers
  counter-reset linenumber
  display flex
  flex-direction row

.line-numbers .line-numbers-rows
  pointer-events none
  font-size 100%
  width 3em /* works for line-numbers below 1000 lines */
  letter-spacing -1px
  border-right 1px solid light_gray_color
  user-select none

.line-numbers-rows > span
  pointer-events none
  display block
  counter-increment linenumber

.line-numbers-rows > span:before
  content counter(linenumber)
  color light_gray_color
  display block
  padding-right 0.8em
  text-align right
