pre[class*="language-"],
code[class*="language-"]
  font 15px/20px fixed_width_font
  z-index 0
  text-shadow none
  margin 0

  //- line height must be the same to avoid jumps of svg arrowed illustrations
  @media (min-width: largescreen)
    font 16px/20px fixed_width_font

  code.token
    background inherit
    padding 0


pre[class*="language-"]
  > code.language-markup
    color inherit

  > code[class*="language-"]
    background none
    padding 1em 1em 1em 0.5em
    flex-grow 1

.line-numbers .line-numbers-rows
  padding 1em 0 .8em
  border 0
  background #e7e5e3
  width auto


.line-numbers .line-numbers-rows:after
  width auto
  display block
  visibility hidden
  margin-top -1.2em // fitted value
  content: '222' // stretch line up to 3 digits

.line-numbers-rows > span:before,
.line-numbers .line-numbers-rows:after
  padding 0 .7em 0 .8em
  // background  var(--backgroundAlt) // was s#e7e5e3 // #146 https://github.com/iliakan/javascript-nodejs/issues/146#issuecomment-72321753
  text-shadow none
