$profile-item-border
    border-bottom 1px solid #e6e0d4

$profile-item
    @extend $profile-item-border

    //- 20px -> 22px @iliakan
    line-height 22px
    padding 0 50px 0 40px

$profile-item-content
    padding 17px 0 17px

$profile-action-button
    @extend $button-reset
    font inherit
    color #727272
    &:hover
        color link_hover_color
        text-decoration underline

.profile
    &__label
        padding 30px
        border 3px solid #eee
        border-radius 10px
        margin-bottom 20px
        position relative

        &::after
          content ''
          width 17px
          height 17px
          border-top 3px solid #eee
          border-left 3px solid #eee
          background #fff
          position absolute
          margin-left: -7px
          left 50%
          top -11px
          transform rotate(45deg)
          box-sizing border-box

    &__view
        display block
        position relative

    &__spinner
        position fixed
        left 50%
        top 50%
        margin -11px 0 0 -35px
        background #fff
        border-radius 12px
        border 1px solid #e7e5e3
        padding 2px

    &__spinner .spinner__dot
        background light_gray_color

    &__single-tab-header
        width 100%
        height 20px
        background #f7f6ea

    &__tabs
        display table
        width 100%
        table-layout fixed
        border-collapse collapse

    &__tab
        display table-cell

    &__tab-content
        border-right 1px solid #d7d3c8
        text-align center
        background #e7e3d9
        font 15px/18px secondary_font

    &__tab:first-child &__tab-content
        border-radius 4px 0 0

    &__tab:last-child &__tab-content
        border-radius 0 4px 0 0
        border-right 0

    &__tab_current &__tab-content,
    &__content
        border-right none
        background #f7f6ea


    &__tab_current &__tab-link
        color inherit
        cursor inherit
        text-decoration inherit
        pointer-events none

    &__tab-link
        display block
        color #727272
        padding 21px 20px
        white-space: nowrap

    &__tab_current &__tab-content,
    &__tab-link:hover
        color #BB1000

    &__notification
        font-size 10px
        font-weight normal
        line-height 16px

        display inline-block

        width 16px
        margin-left 10px

        text-align center
        vertical-align middle

        border-radius 50%

        color #fff
        background #BB1000

    &__title
        @extend $profile-item

    &__title-content
        @extend $profile-item-content

    & &__inline-title
        margin 20px 0 0
        font-size 16px
        line-height 18px
        color #666

    & &__note
        //color #656565
        color light_gray_color
        margin-top 16px
        margin-bottom 10px

    &__linked-account
        @extend $profile-item

    &__linked-account:hover
        background #f9f8f0

    &__account-content
        padding 19px 0 14px 68px
        min-height 48px
        position relative

    &__linked-provider-remove
        @extend $button-reset

        font-size 14px

        position absolute
        left 100%
        top 31px

        display none

        margin-left 7px

        color #727272

    &__linked-provider-remove:active
        position absolute

    &__linked-account:hover &__linked-provider-remove
        display block

    &__linked-provider-remove::after
        @extend $font-trash

    &__linked-upic
        position absolute
        top 16px
        left 0
        width 48px
        height 48px

    &__linked-name
        font-weight 700
        color #333

    &__linked-provider
        color light_gray_color

    &__action-item
        @extend $profile-item

    &__action-item:last-child
        border 0

    &__action-content
        @extend $profile-item-content

    &__action
        @extend $profile-action-button

    &__action_remove-account
        margin-bottom 100px

    &__fields
        display table

        width 100%
        padding-bottom 15px

    &__fields_account
        padding-bottom 0

@require './profileField.styl'
@require './profileProviders.styl'
@require './profilePhoto.styl'
