.profile-providers
    @extend $profile-item

    &__content
        @extend $profile-item-content

    & &__title
        margin-bottom 12px
        color #727272

    &__social-login
        margin-right 6px
        vertical-align bottom
        margin-bottom 5px
