.profile-photo
    text-align center
    margin 25px 0 35px

    &__upic
        position relative
        overflow hidden

        display inline-block

        width 146px
        height 146px

        background-position 50% 50%
        background-size contain
        background-repeat no-repeat
        border-radius 50%

    &__upic-edit
        font-size 12px

        position absolute
        top 0
        right 0
        bottom 0
        left 0

        display none

        line-height 17px

        border-radius 50%
        cursor pointer
        text-align center

        color #fff
        background rgba(0, 0, 0, .7)

    &__upic-edit::before
        @extend $font-camera
        font-size 48px
        display block
        margin 30px 0 5px
        color rgba(255, 255, 255, .35)
        line-height 1

    &__upic:hover &__upic-edit
        display block

    & &__upic_loading &__upic-edit
        display none

    &__upic .spinner
        margin auto
        display block
        padding-top 64px

    &__upic .spinner__dot
        background light_gray_color

    &__content
        margin 20px 0
        border-radius 4px

    &__sign
        text-align center

    &__sign-text
        font-size 13px
        line-height 13px

        display inline-block

        padding 5px 15px
        margin-top 10px

        white-space nowrap

        border-radius 50px

        color #ffffff
        background #f6aa51


