.full-phone
    display table
    width 100%

    &__code-wrap,
    &__tel-wrap
        display table-cell
        vertical-align middle

    &__tel-wrap
        width 100%

    &__tel-wrap .input-select
        margin 0

    &__code-wrap
        padding-right 5px

    &__tel
        width 100%