.number-input
    position relative

    display inline-block
    white-space nowrap

    &__btn
        @extend $button-reset
        font 23px/25px font

        width 35px
        padding 0 0 2px

        text-align center
        vertical-align middle

        color #fff
        background light_gray_color
        border-radius 3px

    &__btn:disabled
        opacity 0.3
        cursor default

    &__text
        width 38px
        margin 0 5px
        vertical-align middle

    &__text &__input
        text-align center
        font-size 14px

    &__text .text-input__err
        font-size 11px
        line-height 12px

        position absolute
        left 0
        top 100%


        white-space normal

        width 100%

    &__text &__input
        -moz-appearance textfield
        appearance textfield

    &__text &__input::-webkit-inner-spin-button,
    &__text &__input::-webkit-outer-spin-button
        -webkit-appearance none
        margin 0
