.order-form
    &__content
        margin 0 auto
        display table

    &__item
        display table-cell
        border-left 1px solid #ccc
        padding 5px 10px

    &__item:first-child
        border 0

    &__item_amount,
    &__item_price
        width 160px

    &__item_participant
        width 180px

    &__label
        display inline-block

    &__control
        display block
        margin-top 10px

    &__control_amount
        margin-top 8px

    &__control_price
        line-height .9
        width 200px // long numbers don't fit otherwise
        margin-right -40px

    &__participants
        margin 10px auto -10px
        width 485px

    &__participants_hidden
        display none

    &__participants-trigger
        line-height 1
        font-size 13px
        color alternate_link_color

    &__participants-note
        color light_gray_color
        font-size 12px
        margin 0

    &__participants-addresses
        padding 0

    & &__participants-list
        overflow hidden
        padding 0
        margin 0

    &__participant
        text-align left
        float left
        width 44%

    & &__participant
        margin-bottom 10px

    & &__participant:nth-child(odd)
        margin-right 2%
        margin-left 4%

    & &__participant:nth-child(even)
        margin-right 4%
        margin-left 2%

    &__participant::before
        display none

    &__participant-label
        margin-left 3px

    &__email-wrap
        margin-top 6px

    &__submit
        margin 35px 0 32px
