.courses-materials-add
  padding 25px

  text-align left

  border-radius 4px
  background background_light

  .main h2&__title
    font-size 16px

    margin 0 0 25px 0

  &__line
    width 80%
    margin-top 15px

  &__remove
    margin-right 4px

  &__line_empty &__remove
    display none

  &__line .text-input
    width 100%
