.codebox
    position relative
    margin 1.5em 0
    overflow auto

    &__toolbar
        position absolute
        top 0
        right 0
        z-index 9
        opacity 0.8

    &__code
        width 100%
        height 100%

    &__code pre
        box-sizing border-box
        width 100%
        height 100%
