.order-confirm
    text-align center
    margin 0 20px 60px

    & &__title
        font 28px secondary_font
        margin 26px 0 20px
        color #000

    &__strong
        font 18px secondary_font

    &__accent
        @extend .order-confirm__strong;

        &_ok
            color #4d906b

        &_error
            color secondary_color

    &__content
        margin-top -5px

    &__text
        margin 30px 0 30px
        line-height 1.35
