$courses-feedback-control = '.courses-feedback-control';

.courses-feedback-control
  position absolute
  width 7.5%
  top 0
  bottom 42px
  opacity 1
  transition opacity .2s ease
  cursor pointer

  @media tablet_medium
    width 50px

  @media tablet
    height: 209px;
    z-index: 2;
    top: auto;
    bottom: 40px;

  &_hidden
    opacity 0
    visibility hidden

  &_left
    left 0

    {$courses-feedback-control}
      &__button
        &:after
          @extend $font-angle-left

    @media tablet_medium
      left -50px

    @media tablet
      left 0

  &_right
    right 0

    {$courses-feedback-control}
      &__button
        &:after
          @extend $font-angle-right

    @media tablet_medium
      right -50px

    @media tablet

      right 0

  &__button
    position absolute
    height 56px
    width 45px
    top 0
    bottom 0
    left 0
    right 0
    margin auto

    &:after
      content ''
      font-size 56px
      position absolute
      top 0
      bottom 0
      line-height 56px
      left 0
      right 0
      margin auto
      color light_gray_color

    &:hover:after
      color color
