.feedback-stat
  padding 40px 35px
  text-align center
  color #fff
  border-radius 4px
  background #20252B

  &__list
    position relative
    display inline-block
    padding-right 240px
    vertical-align top
    text-align right

    @media phone
      padding-right 100px

  .main ul&__list
    margin 0 30px 20px 0

  &__item
    font-size 18px
    position relative
    min-height 37px
    cursor pointer
    white-space nowrap
    line-height 37px
    color #fff
    padding 0

  .main li&__item
    margin 0

    &::before
      display none
      content ''

  &__item:hover,
  &__item_active
    color #F8AB47

  &__status
    position absolute
    left 100%
    width 230px
    height 22px
    background rgba(248, 175, 71, 0.2)
    background-clip content-box
    margin-left 10px
    top 50%
    margin-top -11px

    @media phone
        width 90px

  &__status-i
    left 0
    top 0
    bottom 0
    position absolute
    padding 0
    background #F8AB47

  &__pie
    display inline-block
    vertical-align top
    width 180px
    height 180px

  &__content
    display inline-block
    margin-top 50px
    margin-left 40px

    @media phone
      display block
      margin-left 0

  &_slider
    width 100%
    box-sizing border-box
    background-color transparent
    padding-top 20px
    padding-left 25px
    padding-right 25px

    @media phone
      display flex
      flex-direction column
      height 100%

  &_slider &
    &__list
      @media phone
        flex-grow 1
        margin 0 auto
        padding 0
        text-align left

    &__item
      height 10px
      line-height 10px
      min-height 10px
      padding-bottom 20px
      color gray_color
      font-size 14px

    &__status
      height 10px
      top auto
      margin-top 0

      @media phone
        left 100px
        width calc(100% - 80px)

    &__pie
      height 130px
      width 130px

      @media phone
        margin 0 auto
