.upload-userpic
    position relative

    white-space nowrap

    &__img
        position relative
        overflow hidden

        display inline-block

        width 64px
        height 64px

        background-size 64px 64px
        background-repeat no-repeat

        vertical-align middle

        border-radius 50%

    &__img .spinner
        position absolute
        top 50%

        width 100%

        transform translateY(-50%)

    &__new
        display inline-block

        margin-left 20px

        vertical-align middle
        color light_link_color


