@font-face
  font-family 'FontIcons'
  font-weight normal
  font-style normal
  src url('icons.woff?5') format('woff');

//- not used now?
@font-face
  font-family: 'PT Mono'
  font-weight: bold;
  font-style: normal;
  src: local('PT MonoBold'),
          url('/font/PTMonoBold.woff2') format('woff2'),
          url('/font/PTMonoBold.woff') format('woff'),
          url('/font/PTMonoBold.ttf') format('truetype');
